<div>
    <h1>SMS</h1>
    <hr style="height:2px;border:none;color:#333;background-color:black" />
    <h2>@Html.ActionLink("Send", "Send", "SMS")</h2>
    <h2>Recieve - Check Debug Log for Incoming Texts</h2>
    <h2>Delivery Reciept - Check Debug Log for Delivery Reciepts</h2>
</div>