<% 
    raise "missing 'url' key in action_button landing page block" unless local_assigns['url']
    raise "missing 'text' key in action_button landing page block" unless local_assigns['text']
%>
<% if local_assigns['center_button'] == true %>
    <div class="Vlt-center">
<% end %>
<a class="Vlt-btn Vlt-btn--<%= local_assigns['type'] ? local_assigns['type'] : 'primary' %> <%= 'Vlt-btn--large' if local_assigns['large'] %>" href="<%= local_assigns['url'] %>">
<%= local_assigns['text'] %>
</a>
<% if local_assigns['center_button'] == true %>
    </div>
<% end %>
