<div class='Vlt-center'>
    <h2>Do you have a question?</h2>

    <p class="p-large">
      We're always here to help. Check out our <a href="https://help.nexmo.com/">support FAQs</a>, contact our super helpful
      <a href="https://help.nexmo.com/hc/en-us/requests/new">support team</a> or get in touch on
      <a href="http://stackoverflow.com/questions/tagged/nexmo">Stack Overflow</a>.

      <br>

      Your data will be treated in accordance with our <a href="https://www.nexmo.com/privacy-policy">Privacy Policy</a>, which sets out
      the rights you have in respect of your data.
    </p>
</div>
