<% 
    raise "Missing 'icon_color' key in header landing page block" unless local_assigns['icon_color']
    raise "Missing 'icon' key in header landing page block" unless local_assigns['icon']
    raise "Missing 'title' key in header landing page block" unless local_assigns['title']
%>
<h1 class="Vlt-title--icon">
    <svg class="Vlt-<%= local_assigns['icon_color'] %>"><use xlink:href="/symbol/volta-icons.svg#Vlt-<%= local_assigns['icon']%>"></use></svg>
    <%= local_assigns['title'] %>
</h1>
<% if local_assigns['subtitle'] %>
    <p>
        <%= local_assigns['subtitle'].render_markdown %>
    </p>
<% end %>