<h2 class="Vlt-title--nomargin Vlt-center">
    <%= image_tag 'slack.svg', id: 'community-slack-image' %> Join the <%= link_to "Nexmo Community Slack", community_slack_path, { :class=>"Vlt-text-btn" } %>
</h2>