<%
    raise "Missing 'url' key in linked_image landing page block" unless local_assigns['url']
    raise "Missing 'image' key in linked_image landing page block" unless local_assigns['image']
%>

<a href="<%= local_assigns['url'] %>">
    <img src="<%= local_assigns['image'] %>" /> 
</a>

<br /><br /><br />