<footer id="footer">
  <div class="container">
    <div>
      <h5>Documentation</h5>
      <a href="/messaging/sms/overview">SMS</a>
      <a href="/voice/voice-api/overview">Voice</a>
      <a href="/verify/overview">Verify</a>
      <a href="/number-insight/overview">Number Insight</a>
      <a href="/account/overview">Account</a>
    </div>

    <div>
      <h5>API Reference</h5>
      <a href="/api/sms">SMS</a>
      <a href="/api/voice">Voice</a>
      <a href="/api/verify">Verify</a>
      <a href="/api/number-insight">Number Insight</a>
      <a href="/api">All APIs</a>
    </div>

    <div>
      <h5>Nexmo Developer</h5>
      <a href="/community">Community</a>
      <a href="/contribute">Contribute</a>
      <a href="/legacy">Legacy Documentation</a>
      <a href="/team">Team</a>
      <a href="/careers">Careers</a>
    </div>

    <div>
      <h5>Get to know us</h5>
      <a href="https://www.nexmo.com/platform" target="_blank">Nexmo Platform</a>
      <a href="https://www.nexmo.com/about-nexmo" target="_blank">About Nexmo</a>
      <a href="https://www.vonage.com/corporate/careers/" target="_blank">Careers</a>
      <a href="https://www.nexmo.com/leadership" target="_blank">Leadership</a>
      <a href="https://www.vonage.com/corporate" target="_blank">Press</a>
    </div>

    <div id="footer-support">
      <h5>Support</h5>
      <a href="https://help.nexmo.com" target="_blank">Knowledgebase</a>
      <a href="https://help.nexmo.com/hc/en-us/sections/115004147507" target="_blank">Known Issues</a>
    </div>

    <div id="footer-outbound-links">
      <a href="https://nexmo.com/" id="footer-logo">
        <%= image_tag 'nexmo-vonage-white.svg', alt:'Nexmo Vonage Logo' %>
      </a>

      <a href="https://www.nexmostatus.com/" target="_blank" class="Vlt-badge-combined">
        <span class="Vlt-badge Vlt-badge--blue">API Status</span><span class="Vlt-badge Vlt-badge--green Nxd-api-status">Loading</span>
      </a>

      <div id="footer-social-links">
        <a href="https://www.linkedin.com/company/1345545/" class="footer-link" target="_blank"><i class="icon icon-linkedin"></i></a>
        <a href="/slack" class="footer-link" target="_blank"><i class="icon icon-slack"></i></a>
        <a href="https://twitter.com/nexmo" class="footer-link" target="_blank"><i class="icon icon-twitter"></i></a>
        <a href="https://github.com/nexmo" class="footer-link" target="_blank"><i class="icon icon-github"></i></a>
        <a href="http://stackoverflow.com/questions/tagged/nexmo" class="footer-link" target="_blank"><i class="icon icon-stack-overflow"></i></a>
      </div>
    </div>
  </div>
</footer>
