<div class="Vlt-dropdown">
  <button class="Vlt-dropdown__btn">
    Choose a language
  </button>
  <div class="Vlt-dropdown__panel">
    <div class="Vlt-dropdown__panel__content">
      <ul>
        <% LanguagesDropdownPresenter.new.options.each do |option| %>
          <li>
            <a
              class="Vlt-dropdown__link"
              href="<%= url_for(controller: controller_name, action: action_name, product: params[:product], code_language: option.code_language)%>"
              >
              <%= render 'code_languages/icon', code_language: option.code_language %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
