<div class="Vlt-dropdown">
  <button class="Vlt-dropdown__btn">
    Choose a language
  </button>
  <div class="Vlt-dropdown__panel">
    <div class="Vlt-dropdown__panel__content">
      <ul>
        <% languages = Nexmo::Markdown::CodeLanguage.languages.reject { |l| l.key == 'dotnet' } %>
        <% languages = Nexmo::Markdown::CodeLanguage.filter_languages_for_dropdown(languages, item_list).each do |lang| %>
          <li>
            <a
              class="Vlt-dropdown__link"
              href="<%= url_for(controller: controller_name, action: action_name, product: params[:product], code_language: lang.key)%>"
              >
              <svg class="Vlt-dropdown__link__icon" style="height: 20px; width: 20px;" ><use xlink:href="/assets/images/brands/<%= lang.icon %>.svg#<%= lang.icon %>"></use></svg><span><%= lang.label %></span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>