# Uncomment these lines to enable BasicAuth
# USERNAME=user
# PASSWORD=password

ALLOW_ROBOTS=false

SEGMENT_WRITE_KEY=abc123
BUGSNAG_API_KEY=abc123

ALGOLIA_APPLICATION_ID=abc123
ALGOLIA_API_KEY=abc123

SEARCH_URL=https://abc123.execute-api.us-east-1.amazonaws.com/latest/search

# Required for screenshots:

NEXMO_USERNAME=user@example.org
NEXMO_PASSWORD=abc123

# Required for nexmo-oas-renderer
OAS_PATH='_open_api/api_specs'
