@{
    ViewData["Title"] = "Text-to-speech call";
}
<h1 class="text-center">@ViewData["Title"]</h1>


<div>
    @{
        ViewData["Sub-Title"] = "Create Talk NCCO";
    }
    <h3>@ViewData["Sub-Title"]</h3>
    @{ 
        var buttonText = @ViewData["NCCOButtonText"];
    }
    <form method="post" action="/Voice/CreateTalkNCCO">
        <input type="text"
               class="input"
               id="text" name="text" placeholder="Text to synthetise into speech " style="min-width:350px" /> <br>
        <h1></h1>
        <input type="text"
               class="input"
               id="voiceName" name="voiceName" placeholder="Name of the voice used to deliver the text " style="min-width:350px" /> <br>
        <h1></h1>
        <input type="submit"  value=@buttonText style="width:250px" /><br>
    </form>
</div>

<div>
    @{
        ViewData["Sub-Title"] = "Make the call";
    }
    <h3>@ViewData["Sub-Title"]</h3>
    <form method="post" action="/Voice/MakeTextToSpeechCall">
        <input type="text"
               class="input"
               id="to" name="to" placeholder="Number to call" style="width:150px" /> <br>
        <h1></h1>
        <input type="submit" value="Call" style="width:250px"/><br>
    </form>
</div>
