@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>The Nexmo Voice API is the easiest way to build high-quality voice applications in the Cloud. With the Voice API you:

    <ul>
        <li>Build apps that scale with the web technologies that you are already using</li>
        <li>Control the flow of inbound and outbound calls in JSON with Nexmo Call Control Objects (NCCO)</li>
        <li>Record and store inbound or outbound calls</li>
        <li>Create conference calls</li>
        <li>Send text-to-speech messages in 23 languages with different genders and accents</li>
    </ul>
    </p>
