@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Nexmo Ltd<br />
    Idt House, 38-, 44 Featherstone St, London EC1Y 8RN<br />
    <abbr title="Phone"></abbr>
    020 7490 2866
</address>

<address>
    <strong>Developer relations team:</strong> <a href="mailto:devrel@nexmo.com">devrel@nexmo.com</a><br />
</address>
