<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'layouts/partials/head' %>

  <body class="Nxd-template" data-push-state-root="<%= canonical_path %>">
    <%= render partial: 'layouts/partials/header' %>
    <%= yield %>
    <script type=“text/javascript”>_satellite.pageBottom();</script>
  </body>
</html>
