<ul class="navigation js-scrollspy">
  <li>
    <a href="/api/voice">Voice</a>
    <ul>
      <li>
        <a class="" href="#">Calls</a>
        <ul>
          <li>
            <a class="" href="#request">
              <span class="label label--code label--positive">POST</span>
              Create an outbound Call
            </a>
          </li>
          <li>
            <a class="" href="#request">
              <span class="label label--code">GET</span>
              Retrieve information about all your Calls
            </a>
          </li>
          <li>
            <a class="" href="#request">
              <span class="label label--code">GET</span>
              Retrieve information about a single Call
            </a>
          </li>
          <li>
            <a class="" href="#request">
              <span class="label label--code label--warning">PUT</span>
              Modify an existing Call
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="" href="#">Stream</a>
        <ul>
          <li>
            <a class="" href="#request">
              <span class="label label--code label--warning">PUT</span>
              Stream an audio file to an active Call
            </a>
          </li>
          <li>
            <a class="" href="#request">
              <span class="label label--code label--negative">DELETE</span>
              Stop streaming an audio file to an active Call
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="" href="#">Talk</a>
        <ul>
          <li>
            <a class="" href="#request">
              <span class="label label--code label--warning">PUT</span>
              Send a synthesized speech message to an active Call
            </a>
          </li>
          <li>
            <a class="" href="#request">
              <span class="label label--code label--negative">DELETE</span>
              Stop sending a synthesized speech message to an active Call
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="" href="#">DTMF</a>
        <ul>
          <li>
            <a class="" href="#request">
              <span class="label label--code label--warning">PUT</span>
              Send Dual-tone multi-frequency (DTMF) tones to an active Call
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="" href="#">Errors</a>
      </li>
    </ul>
  </li>
</ul>
