<ul class="navigation js-scrollspy has-label">
  <li>
    <a href="/api/voice">Voice</a>
    <ul class="has-label">
      <li>
        <a href="#calls">Calls</a>
        <ul class="has-label">
          <li>
            <a href="#create-an-outbound-call">
              <span class="label label--code label--positive">POST</span>
              Create an outbound Call
            </a>
          </li>
          <li>
            <a href="#retrieve-information-about-all-your-calls">
              <span class="label label--code">GET</span>
              Retrieve information about all your Calls
            </a>
          </li>
          <li>
            <a href="#retrieve-information-about-a-single-call">
              <span class="label label--code">GET</span>
              Retrieve information about a single Call
            </a>
          </li>
          <li>
            <a href="#modify-an-existing-call">
              <span class="label label--code label--warning">PUT</span>
              Modify an existing Call
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#stream">Stream</a>
        <ul class="has-label">
          <li>
            <a href="#stream-an-audio-file-to-an-active-call">
              <span class="label label--code label--warning">PUT</span>
              Stream an audio file to an active Call
            </a>
          </li>
          <li>
            <a href="#stop-streaming-an-audio-file-to-an-active-call">
              <span class="label label--code label--negative">DELETE</span>
              Stop streaming an audio file to an active Call
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#talk">Talk</a>
        <ul class="has-label">
          <li>
            <a href="#send-a-synthesized-speech-message-to-an-active-call">
              <span class="label label--code label--warning">PUT</span>
              Send a synthesized speech message to an active Call
            </a>
          </li>
          <li>
            <a href="#stop-sending-a-synthesized-speech-message-to-an-active-call">
              <span class="label label--code label--negative">DELETE</span>
              Stop sending a synthesized speech message to an active Call
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#dtmf">DTMF</a>
        <ul class="has-label">
          <li>
            <a href="#send-dual-tone-multi-frequency-dtmf-tones-to-an-active-call">
              <span class="label label--code label--warning">PUT</span>
              Send Dual-tone multi-frequency (DTMF) tones to an active Call
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#generating-a-jwt">Generating a JWT</a>
      </li>
      <li>
        <a href="#status-values">Status values</a>
      </li>
      <li>
        <a href="#errors">Errors</a>
      </li>
    </ul>
  </li>
</ul>
