@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <h1>Search</h1>
    <hr style="height:2px;border:none;color:#333;background-color:black" />
    <h2>@Html.ActionLink("Search for Message", "SearchMessage", "Search")</h2>
    <h2>@Html.ActionLink("Search for Messages", "CallList", "Search")</h2>
    <h2>@Html.ActionLink("Search Rejected Messages", "SearchRejection", "Search")</h2>
</div>
