<div class="max-w-screen-xl mx-auto">

  <div class="header-separator hr--tall Vlt-text-separator Vlt-text-separator--big">
    <span>< <%= @category_with_all_blogposts.plural.upcase %> /></span>
  </div>

  <% unless @category_with_all_blogposts.blogposts.count.positive? %>

    <div class="Vlt-callout Vlt-callout--warning">
      <div class="Vlt-callout__content">No Blogpost available</div>
    </div>

  <% else %>

    <div class="my-3col-grid">
      <% @category_with_all_blogposts.blogposts.compact.in_groups(3) do |blogposts| %>
        <%# cache blogposts do %>
          <%= render partial: 'blog/blogpost/blogpost', collection: blogposts, as: :blogpost, cached: true, locals: { show_category_label: false, show_author: true } %>
        <%# end %>
      <% end %>
    </div>

  <% end %>

</div>
