<div class="Vlt-grid Vlt-grid--margin-bottom1 Nxd-changelog__release">
  <div class="Vlt-col Vlt-col--1of4 Vlt-col--M-1of4 Vlt-col--right Vlt-col--M-right">
  	<div class="Vlt-badge Vlt-badge--blue">v<%= version[:version] %></div>
    <p>
      <small><b><%= version[:date].strftime('%d %b %y') %></b></small>
    </p>
  </div>
  <div class="Vlt-col Vlt-col--3of4 Vlt-col--M-3of4">
    <%= version[:body].html_safe %>
  </div>
</div>
