<center>
  <h1>Changelog</h1>
</center>


<div class="Vlt-card" id="primary-content">
  <div class="">
    <% @versions.reverse.each do |version| %>
      <%= render 'show', version: version %>
    <% end %>
  </div>
</div>
