<center>
  <h1>Changelog</h1>
</center>


<div class="row" id="primary-content">
  <div class="columns small-12 medium-10 small-centered medium-centered">
    <br>
    <% @versions.reverse.each do |version| %>
      <br>
      <%= render 'show', version: version %>
      <br>
    <% end %>
  </div>
</div>
