.Vlt-badge {
	background: $blue;
	border-radius: 40px;
	color: $white;
	display: inline-block;
	flex-shrink: 0;
	font-size: 1.2rem;
	font-weight: 600;
	height: 20px;
	line-height: 1;
	margin: 0;
	padding: 4px 10px;
	vertical-align: bottom;
	white-space: nowrap;

	&--red {
		background: $red;
	}

	&--yellow {
		background: $yellow;
	}

	&--orange {
		background: $orange;
	}

	&--green {
		background: $green;
	}

	&--grey {
		background: $grey;
	}

	&--large {
		font-size: 1.4rem;
		height: 26px;
		padding: 6px 14px;

		.Vlt-badge__dismiss {
			height: 16px;
			margin-left: 2px;
			opacity: 0.6;
			width: 16px;
		}
	}

	&--small {
		font-size: 0.9rem;
		font-weight: 800;
		height: 13px;
		padding: 2px 6px;
	}

	p & {
		margin: 0 5px;
	}

	&__dismiss {
		@extend .reset-button;
		background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0D%0A%09%20viewBox%3D%220%200%2024%2024%22%20style%3D%22enable-background%3Anew%200%200%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M13.9%2C12l6.2-6.3c0.5-0.5%2C0.5-1.3%2C0-1.8c-0.5-0.5-1.3-0.5-1.8%2C0l-6.3%2C6.3L5.7%2C3.9%0D%0A%09c-0.5-0.5-1.3-0.5-1.8%2C0C3.6%2C4.2%2C3.5%2C4.5%2C3.5%2C4.9s0.1%2C0.7%2C0.4%2C0.9l6.3%2C6.3l-6.2%2C6.2c-0.3%2C0.3-0.4%2C0.7-0.3%2C1c0.1%2C0.3%2C0.2%2C0.6%2C0.5%2C0.7%0D%0A%09c0.5%2C0.4%2C1.3%2C0.4%2C1.7-0.1l6.2-6.2l6.2%2C6.2c0.2%2C0.2%2C0.6%2C0.4%2C0.9%2C0.4s0.7-0.1%2C0.9-0.4c0.5-0.5%2C0.5-1.3%2C0-1.8L13.9%2C12z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		height: 13px;
		margin-right: -4px;
		opacity: 0.7;
		transition: opacity 0.2s;
		vertical-align: middle;
		width: 13px;

		&:hover {
			opacity: 1;
		}
	}

	&--dismissed {
		border: 0 !important;
		height: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0;
	}

	&-combined {
		display: flex;

		.Vlt-badge {
			&:first-child {
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
				margin-right: 0;
			}

			&:last-child {
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
				margin-left: 0;
			}
		}

		&--app {
			.Vlt-badge {
				border-radius: $unit0;
			}
		}
	}

	& + .Vlt-badge {
		margin-left: $unit1;
	}

	&--margin {
		margin-bottom: $unit1;
		margin-top: $unit1;

		&-left {
			margin-left: $unit1;
		}
	}

	&--middle {
		vertical-align: middle;
	}

	&--app {
		border-radius: $unit0;
	}

	&-group {
		.Vlt-badge {
			margin-bottom: $unit0;
			margin-right: $unit1;
			margin-top: $unit0;

			&.Vlt-badge--large {
				margin-bottom: $unit1;
				margin-top: $unit1;
			}

			& + .Vlt-badge {
				margin-left: 0;
			}
		}

		&--app {
			.Vlt-badge {
				border-radius: $unit0;
			}
		}
	}
}
