<div class='Vlt-center'>
    <h2>Get in touch</h2>

    <p class="p-large">
      Do you have a question or want us to support your tech community event? 
      <br>

      Drop us an email at <a href="mailto:community@nexmo.com">community[at]nexmo.com</a>.

      <br><br>

      Your data will be treated in accordance with our <a href="https://www.nexmo.com/privacy-policy">Privacy Policy</a>, which sets out
      the rights you have in respect of your data.
    </p>
</div>
