<% raise "Missing 'content' key in warning_callout landing page block" unless local_assigns['content'] %>

<div class="Vlt-callout Vlt-callout--tip">
  <i></i>
  <div class="Vlt-callout__content">
    <p><%= local_assigns['content'] %></p>
  </div>
</div>