<div class="Vlt-grid">
  <div class="Vlt-col" style="text-align: right">
    <a href="/spotlight"><img src="/assets/images/Developer-Spotlight-Graphic_200x200.png" /></a>
  </div>
  <div class="Vlt-col Vlt-col--3of4">
    <br />
    <br />
    <br />
    <h2 id="write-for-nexmo"><b>Write for Vonage</b></h2>
    You don't have to be part of the team to write for Vonage. <br /> Thanks to our <a href="/spotlight">Developer Spotlight</a> program, you can get paid $500 to write for us.
  </div>
</div>
