<h1>Use Cases</h1>

<p>Get started with tutorials that will walk you through building a variety of practical applications</p>

<div class="Nxd-use-cases--filters">
  <%= render partial: 'layouts/partials/programming_languages_dropdown', controller_name: :use_case, action_name: :index %>
  <%= render partial: 'layouts/partials/product_dropdown', locals: { controller_name: :use_case, action_name: :index, product_scope: Nexmo::Markdown::UseCase.all } %>
</div>

<br><br>

<%= render 'index' %>
