<li>
  <a href="#<%= endpoint.id %>">
    <span class="Vlt-badge Vlt-badge--<%= endpoint.method == 'post' ? 'green' : 'blue' %>"><%= endpoint.method.upcase %></span>
    <%= endpoint.title %>
  </a>
</li>
