  <div class="container">

    <div class="row">
      <div class="center">
        <h1 class="Vlt-title--margin-top2">Business Communications Developer Center</h1>
        <p class="p-large">Integrate voice, call recordings and call events into your business workflows.</p>
      </div>
      <div class="columns small-12">
        <a name="products"></a>

        <div class="Nxd-products-list">
          <div class="Vlt-grid Vlt-grid--center Vlt-grid--margin-top2">

            <div class="Vlt-col Vlt-col--1of2 Vlt-col--M-1of2">
              <div class="Vlt-card Vlt-card--image Nxd-card--products">
                <div class="Vlt-card__content">
                  <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-voicemail-2" /></svg>
                  <div class="Nxd-card--product__subtitle"><small>PROGRAMMABLE</small></div>

                  <h2>
                    <a href="/call-recording/overview">Call Recording</a>
                  </h2>
                  <nav>
                    <a href="/call-recording/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker" aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                    <a href="/call-recording/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker" aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                    <a href="/call-recording/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker" aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                    <a href="/call-recording/use-cases"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker" aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-mockup" /></svg>Use Cases</a>
                    <hr class="hr--short">
                    <a href="/api/call-recording">API Reference</a>
                  </nav>
                </div>
              </div>
            </div>

            <div class="Vlt-col Vlt-col--1of2 Vlt-col--M-1of2">
              <div class="Vlt-card Vlt-card--image Nxd-card--products">
                <div class="Vlt-card__content">
                  <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-address-book" /></svg>
                  <div class="Nxd-card--product__subtitle"><small>MANAGEMENT</small></div>

                  <h2>
                    <a href="/provisioning/overview">Provisioning</a>
                  </h2>
                  <nav>
                    <a href="/provisioning/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker" aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                    <a href="/provisioning/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"  aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                    <a href="/provisioning/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker" aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                    <hr class="hr--short">  
                    <a href="/api/provisioning">API Reference</a>
                  </nav>
                </div>
              </div>
            </div>

            <div class="Vlt-col Vlt-col--1of2 Vlt-col--M-1of2">
              <div class="Vlt-card Vlt-card--image Nxd-card--products">
                <div class="Vlt-card__content">
                  <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-phone" /></svg>
                  <div class="Nxd-card--product__subtitle"><small>PROGRAMMABLE</small></div>

                  <h2>
                    <a href="/telephony/overview">Telephony</a>
                  </h2>
                  <nav>
                    <a href="/telephony/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                    <a href="/telephony/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                       aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                    <a href="/telephony/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker" aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                    <hr class="hr--short">
                    <a href="/api/telephony">API Reference</a>
                  </nav>
                </div>
              </div>
            </div>

            <div class="Vlt-col Vlt-col--1of2 Vlt-col--M-1of2">
              <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
                <div class="Vlt-card__content">
                  <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-report" /></svg>
                  <div class="Nxd-card--product__subtitle"><small>REPORTING</small></div>

                  <h2>
                    <a href="/reports/overview">Reports</a>
                  </h2>
                  <nav>
                    <a href="/reports/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                    <a href="/reports/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                       aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                    <a href="/reports/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker" aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                    <hr class="hr--short">
                    <a href="/api/reports">API Reference</a>
                  </nav>
                </div>
              </div>
            </div>

          </div>

            <div class="Vlt-grid Vlt-grid--center Vlt-grid--margin4 Nxd-products-banner">
            <div class="Vlt-col">
              <h2>
                <a href="/client-sdk/overview">
                  <svg class="Vlt-icon Vlt-gray-darker Vlt-icon--larger Vlt-purple" aria-hidden="true">
                    <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-duplicate" /></svg>
                  Integrations
                </a>
              </h2>
              <p>Build multi-platform applications with contextual communications.</p>
            </div>
          </div>

          <div class="Vlt-grid Vlt-grid--center">
            <div class="Vlt-col Vlt-col--1of2 Vlt-col--M-1of2">
              <div class="Vlt-card Vlt-bg-grey-lighter Vlt-card--image Nxd-card--products">
                <div class="Vlt-card__content">
                  <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-plug" /></svg>
                  <div class="Nxd-card--product__subtitle"><small>INTEGRATIONS</small></div>

                  <h2>
                    <a href="/vonage-integration-platform/overview">Vonage Integration Platform</a>
                  </h2>
                  <nav>
                    <a href="/vonage-integration-platform/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                    <a href="/vonage-integration-platform/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker" aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                    <a href="/vonage-integration-platform/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker" aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                    <hr class="hr--short">
                    <a href="/api/vonage-integration-platform">API Reference</a>
                  </nav>
                </div>
              </div>
            </div>

            <div class="Vlt-col Vlt-col--1of2 Vlt-col--M-1of2">
              <div class="Vlt-card Vlt-bg-grey-lighter Vlt-card--image Nxd-card--products">
                <div class="Vlt-card__content">
                  <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-brain" /></svg>
                  <div class="Nxd-card--product__subtitle"><small>INTEGRATIONS</small></div>

                  <h2>
                    <a href="/smart-numbers/overview">Smart Numbers</a>
                  </h2>
                  <nav>
                    <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                    <a href="/smart-numbers/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                       aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                    <a href="/smart-numbers/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker" aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                  </nav>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>