<h1>API Reference</h1>

<div class="Vlt-grid">
  <div class="Vlt-col Vlt-col--1of3">
    <div class="Vlt-card Vlt-card--image">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--purple">
        <div class="Vlt-card__image__icon">
          <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-message"/></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <h2 id="messaging-apis">
          <a href="/api/sms">
            Messaging APIs
          </a>
        </h2>
        <nav>
          <a href="/api/sms" class="Nxd-card__link">
            <h5>SMS API</h5>
            <p>For sending and receiving SMS</p>
          </a>
          <a href="/api/sms/us-short-codes/alerts/subscription" class="Nxd-card__link">
            <h5>Alerts API - Subscription</h5>
            <p>For subscribing users to event-based alerts with US Short Codes</p>
          </a>
          <a href="/api/sms/us-short-codes/alerts/sending" class="Nxd-card__link">
            <h5>Alerts API - Sending</h5>
            <p>For sending event-based alerts to users with US Short Codes</p>
          </a>
          <a href="/api/sms/us-short-codes/2fa" class="Nxd-card__link">
            <h5>2FA</h5>
            <p>For verifying users with US Short Codes</p>
          </a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3">
    <div class="Vlt-card Vlt-card--image">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--purple">
        <div class="Vlt-card__image__icon">
          <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-chat"/></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <h2 id="messaging-apis">
          <a href="/api/messages-olympus">
            Messages and Dispatch APIs
          </a>
        </h2>
        <nav>
          <a href="/api/messages-olympus" class="Nxd-card__link">
            <h5>Messages API</h5>
            <p>For messaging through SMS/MMS, Facebook Messenger, WhatsApp and Viber Service Messages.</p>
          </a>
          <a href="/api/dispatch" class="Nxd-card__link">
            <h5>Dispatch API</h5>
            <p>For orchestrating messaging workflows with failover.</p>
          </a>
          <a href="/api/external-accounts" class="Nxd-card__link">
            <h5>External Accounts API</h5>
            <p>For managing your Facebook Messenger, WhatsApp and Viber Service Messages accounts for use with Messages and Dispatch APIs.</p>
          </a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3">
    <div class="Vlt-card Vlt-card--image">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--green">
        <div class="Vlt-card__image__icon">
          <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-phone" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <h2 id="voice-apis">
          <a href="/api/voice">
            Voice APIs
          </a>
        </h2>
        <nav>
          <a href="/api/voice" class="Nxd-card__link">
            <h5>Voice API</h5>
            <p>For making and receiving calls.</p>
          </a>

          <a href="/voice/voice-api/ncco-reference" class="Nxd-card__link">
            <h5>Nexmo Call Control Objects (NCCO)</h5>
            <p>The JSON format for Nexmo's Voice API.</p>
          </a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3">
    <div class="Vlt-card Vlt-card--image">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--indigo">
        <div class="Vlt-card__image__icon">
          <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-chat" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <h2 id="verify">
          <a href="/api/verify">
            Verify
          </a>
        </h2>
        <nav>
          <a href="/api/verify"class="Nxd-card__link">
            <h5>Verify API</h5>
            <p>Check to see if a user owns a number via both SMS and voice.</p>
          </a>
          <a href="/api/verify/templates" class="Nxd-card__link">
            <h5>Verify API - Custom templates</h5>
            <p>You use custom templates to modify the default messages sent by the Verify API.</p>
          </a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3">
    <div class="Vlt-card Vlt-card--image">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--orange">
        <div class="Vlt-card__image__icon">
          <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-message" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <h2 id="number-insight">
          <a href="/api/number-insight">
            Number Insight
          </a>
        </h2>
        <nav>
          <a href="/api/number-insight" class="Nxd-card__link">
            <h5>Number Insight API</h5>
            <p>The smart way to get real-time intelligence on numbers anywhere in the world and protect yourself from fraud and spam.</p>
          </a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3">
    <div class="Vlt-card Vlt-card--image">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--blue">
        <div class="Vlt-card__image__icon">
          <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-world" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <h2 id="global-apis">
          <a href="#">
            Global APIs
          </a>
        </h2>
        <nav>
          <a href="/api/application" class="Nxd-card__link">
            <h5>Application API</h5>
            <p>Create and manage Nexmo applications used to configure &amp; authenticate with Voice API</p>
          </a>
          <a href="/api/conversion" class="Nxd-card__link">
            <h5>Conversion API</h5>
            <p>Improve your deliverability</p>
          </a>
          <a href="/api/media" class="Nxd-card__link">
            <h5>Media API <span class="Vlt-badge Vlt-badge--blue">BETA</span></h5>
            <p>Manage media items such as audio files for use with other Nexmo APIs.</p>
          </a>
          <a href="/api/account/secret-management" class="Nxd-card__link">
            <h3>Secret Management API</h3>
            <p>Rotate your API secrets</p>
          </a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3">
    <div class="Vlt-card Vlt-card--image">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--blue-light">
        <div class="Vlt-card__image__icon">
          <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <h2 id="developer-api">
          <a href="/api/developer">
            Developer API
          </a>
        </h2>
        <nav>
          <a href="/api/developer/account" class="Nxd-card__link">
            <h5>Account</h5>
            <p>Get pricing, balance and account information</p>
          </a>
          <a href="/api/developer/messages" class="Nxd-card__link">
            <h5>Messages</h5>
            <p>Retrieve inbound and outbound messages</p>
          </a>
          <a href="/api/developer/numbers" class="Nxd-card__link">
            <h5>Numbers</h5>
            <p>Buy, list and update your account numbers</p>
          </a>
          <a href="/api/developer/pricing" class="Nxd-card__link">
            <h5>Pricing</h5>
            <p>Retrieve details of service pricing</p>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>
