<div class="center">
  <h1>API Reference</h1>
</div>
<br/>
<div class="row">
  <div class="columns small-12 medium-6">
    <div class="card card--sms">
      <h2>
        <a href="/messaging/sms/overview">
          SMS API
        </a>
      </h2>
      <nav>
        <a href="/api/sms" class="card-description">
          <h3>SMS API</h3>
          <p>For sending and receiving SMS</p>
        </a>
        <a href="/api/sms/us-short-codes/alerts" class="card-description">
          <h3>Alerts API</h3>
          <p>For subscribing users to and send event based alerts.</p>
        </a>
        <a href="/api/sms/us-short-codes/2fa" class="card-description">
          <h3>Two-factor Authentication API</h3>
          <p>For proving a user's identity with SMS &amp; Voice.</p>
        </a>
      </nav>
    </div>
  </div>
  <div class="columns small-12 medium-6">
    <div class="card card--voice">
      <h2>
        <a href="/messaging/sms/overview">
          Voice API
        </a>
      </h2>
      <nav>
        <a href="/api/voice" class="card-description">
          <h3>Voice API</h3>
          <p>For making and receiving calls.</p>
        </a>
        <a href="#" class="card-description">
          <h3>Two-factor Authentication API</h3>
          <p>For proving a user's identity with SMS &amp; Voice.</p>
        </a>
      </nav>
    </div>
  </div>
</div>
