<div class="container">
<h1>API Reference</h1>

<div class="Vlt-grid Vlt-grid-center">
  <div class="Vlt-col Vlt-col--1of2 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-card--image">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--purple">
        <div class="Vlt-card__image__icon">
          <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-message"/></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <h2 id="messaging-apis">
          <a href="/api/sms">
            Messaging
          </a>
        </h2>
        <nav>
          <a href="/api/messages-olympus" class="Nxd-card__link">
            <h5>Messages API <span class="Vlt-badge Vlt-badge--green">Beta</span></h5>
            <p>For SMS, MMS, Facebook, WhatsApp, Viber and much more: Messages API allows easy integration with multiple messaging platforms through a single integration. This API is currently in Beta, so expect some changes before it is production-ready.</p>
          </a>

          <a href="/api/dispatch" class="Nxd-card__link">
            <h5>Dispatch API <span class="Vlt-badge Vlt-badge--green">Beta</span></h5>
            <p>Use the Dipatch API for a multichannel messaging solution with failover.</p>
          </a>

          <a href="/api/sms" class="Nxd-card__link">
            <h5>SMS API</h5>
            <p>For applications that only need to send and/or receive SMS, the SMS API is our stable, recommended solution. The SMS API has extensive support in all our client libraries and lots of code examples and tutorials to help you along your way.</p>
          </a>

          <a href="/api/external-accounts" class="Nxd-card__link">
            <h5>External Accounts API <span class="Vlt-badge Vlt-badge--green">Beta</span></h5>
            <p>Use this to manage accounts for the Messages and Dispatch APIs across all the various channels that we support.</p>
          </a>

          <a href="/api/conversation" class="Nxd-card__link">
            <h5>Conversation API <span class="Vlt-badge Vlt-badge--blue">Developer Preview</span></h5>
            <p>Add text messaging (and voice, and video) features to your web and mobile applications. Conversation API allows you to create real-time communications channels to use in your apps.</p>
          </a>

          <a href="/api/developer/messages" class="Nxd-card__link">
            <h5>Message Search API</h5>
            <p>During development, you may use this API to search for both incoming and outgoing messages. This API is rate limited and offered as a debugging feature in case your code misses a callback.</p>
          </a>

          <a href="/api/sms/us-short-codes/alerts/subscription" class="Nxd-card__link">
            <h5>Alerts API - Subscription</h5>
            <p>For subscribing users to event-based alerts with US Short Codes</p>
          </a>
          <a href="/api/sms/us-short-codes/alerts/sending" class="Nxd-card__link">
            <h5>Alerts API - Sending</h5>
            <p>For sending event-based alerts to users with US Short Codes</p>
          </a>
          <a href="/api/sms/us-short-codes/2fa" class="Nxd-card__link">
            <h5>2FA</h5>
            <p>For verifying users with US Short Codes</p>
          </a>
        </nav>
      </div>
    </div>


        <br />

    <div class="Vlt-card Vlt-card--image">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--blue">
        <div class="Vlt-card__image__icon">
          <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code"/></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <h2 id="core-services">Core Services</h2>
        <nav>
          <a href="/api/application" class="Nxd-card__link">
            <h5>Application API</h5>
            <p>Create and manage the applications you use across Nexmo APIs. Create, manage and configure your applications and authentication.</p>
          </a>

          <a href="/api/conversation" class="Nxd-card__link">
            <h5>Conversation API</h5>
            <p>Create real-time communications channels for text, voice and video.</p>
          </a>
        </nav>
      </div>
    </div>

    <br />

    <div class="Vlt-card Vlt-card--image">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--blue-light">
        <div class="Vlt-card__image__icon">
          <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-user"/></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <h2 id="account">Account</h2>
        <nav>
          <a href="/api/developer/account" class="Nxd-card__link">
            <h5>Account API</h5>
            <p>Configure account-level settings, check and manage your account balance, and manage your API secrets using the Account API</p>
          </a>

          <a href="/api/external-accounts" class="Nxd-card__link">
            <h5>External Accounts API <span class="Vlt-badge Vlt-badge--green">Beta</span></h5>
            <p>Use this to manage accounts for the Messages and Dispatch APIs across all the various channels that we support.</p>
          </a>

          <a href="/api/developer/pricing" class="Nxd-card__link">
            <h5>Pricing API</h5>
            <p>Query the prices of Nexmo services, either by country or by dialling prefix.</p>
          </a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of2 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-card--image">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--green">
        <div class="Vlt-card__image__icon">
          <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-phone"/></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <h2 id="voice">Voice</h2>
        <nav>
          <a href="/api/voice" class="Nxd-card__link">
            <h5>Voice API</h5>
            <p>Make and receive telephone calls to or from anywhere in the world. The Voice API lets you dial other phones, answer incoming calls, and control all aspects of the call including conferences, recordings, capturing user input and sending various audio content.</p>
          </a>

          <a href="/voice/voice-api/ncco-reference" class="Nxd-card__link">
            <h5>NCCO: Nexmo Call Control Objects</h5>
            <p>Control all aspects of incoming and outgoing calls with NCCO in JSON format</p>
          </a>

          <a href="/voice/voice-api/webhook-reference" class="Nxd-card__link">
            <h5>Voice Webhooks</h5>
            <p>Details of the incoming webhooks sent by the Voice API. Learn how to respond to an incoming call and react to events during a call.</p>
          </a>

          <a href="/api/media" class="Nxd-card__link">
            <h5>Media API <span class="Vlt-badge Vlt-badge--green">Beta</span></h5>
            <p>Manage media items for use with Nexmo APIs. This API allows you to handle media to send and to download recordings.</p>
          </a>

          <a href="/api/conversation" class="Nxd-card__link">
            <h5>Conversation API <span class="Vlt-badge Vlt-badge--blue">Developer Preview</span></h5>
            <p>Add voice communication (and video, and text messaging) features to your web and mobile applications, connecting users anywhere in the world.</p>
          </a>
        </nav>
      </div>
    </div>

    <br />

    <div class="Vlt-card Vlt-card--image">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--orange">
        <div class="Vlt-card__image__icon">
          <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-hash"/></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <h2 id="numbers">Numbers</h2>
        <nav>

        <a href="/api/number-insight" class="Nxd-card__link">
        <h3>Number Insight API</h3>
        <p>Get detailed information about any phone number, anywhere in the world. Useful for checking for number validity and protecting your organisation against fraud and spam.</p>
        </a>

        <a href="/api/developer/numbers" class="Nxd-card__link">
        <h3>Number Management API</h3>
        <p>Manage all the numbers you need for your applications. Search for numbers, list and configure your purchased numbers, cancel any number you no longer need.</p>
        </a>
        </nav>
      </div>
    </div>

    <br />

    <div class="Vlt-card Vlt-card--image">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--indigo">
        <div class="Vlt-card__image__icon">
          <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-check-circle"/></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <h2 id="security-compliance">Security and Compliance</h2>
        <nav>
          <a href="/api/verify"class="Nxd-card__link">
            <h3>Verify API</h3>
            <p>Use both SMS and Voice calling to verify that a phone number belongs to a user that registers with it. Helps to protect your organisation against spam and fraudulent registrations.</p>
          </a>

          <a href="/api/verify/templates" class="Nxd-card__link">
            <h3>Verify API - Custom templates</h3>
            <p>You may optionally custom templates to modify the format and wording of messages sent by the Verify API.</p>
          </a>

          <a href="/api/redact" class="Nxd-card__link">
            <h3>Redact API</h3>
            <p>Ensure your organisation is compliant with data regulations such as GDPR by redacting individual's data from the Nexmo platform.</p>
          </a>

          <a href="/api/audit" class="Nxd-card__link">
            <h3>Audit API</h3>
            <p>Get an audit trail of changes to your account for security and compliance purposes.</p>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>
</div>
