.api-status {
  display: inline-block;
  font-size: 12.5px;
  border: 1px solid $gray;
  border-radius: $radius;
  margin: $spacing auto;
  font-weight: 600;

  #footer & {
    display: inline-block;
  }

  span {
    display: block;
    padding: 1px 5px;
    float: left;
  }

  &-status {
    color: $gray;
  }

  &-label {
    background: $gray;
    color: $white;
  }

  &--none {
    border-color: $green;
    .api-status-status { color: $green; }
    .api-status-label { background: $green; }
  }

  &--minor {
    border-color: $orange;
    .api-status-status { color: $orange; }
    .api-status-label { background: $orange; }
  }

  &--major, &--critical {
    border-color: $red;
    .api-status-status { color: $red; }
    .api-status-label { background: $red; }
  }
}
