.button {
  display: inline-block;
  background: $blue;
  color: $white;
  font-family: 'Averta';
  font-size: 16px;
  line-height: 1.6;
  padding: 8px 12px;
  -webkit-appearance: none;
  font-weight: 600;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  box-shadow: $shadow;

  &:hover {
    background: lighten($link, 5%);
    color: $white;
  }

  i {
    font-size: 22px;
    vertical-align: sub;
    margin-right: 5px;
  }

  &--secondary {
    border: 2px solid $blue;
    color: $blue;
    background: $white;
  }

  &[disabled] {
    background: $gray;
  }
}
