.button {
  display: inline-block;
  background: $blue;
  color: $white;
  font-family: 'Averta';
  font-size: 16px;
  line-height: 20px;
  padding: 11px 18px;
  -webkit-appearance: none;
  font-weight: 800;
  border: none;
  border-radius: $radius;
  vertical-align: bottom;
  cursor: pointer;
  box-shadow: $shadow;

  &:hover {
    background: lighten($link, 5%);
  }
}
