$ball-size: 44px;

@mixin card--product($color) {
  color: $color;
  hr { border-top-color: mix($color, $white, 20%) }
  h3 { color: $color; }

  .card--with-icon__divider {
    border-bottom: 2px solid $color;
    i {
      background: $color;
    }
  }
}

.card {
  display: block;
  position: relative;
  background: $white;
  border: $border;
  border-radius: $radius;
  box-shadow: $shadow;
  margin-bottom: $spacing;
  overflow: hidden;
  font-size: 16px;

  .spacious {
    padding: $spacing 0;
  }

  a {
    display: inline-block;
    padding: $spacing/2 0;
    color: $text;

    &:hover {
      color: $blue;
    }

    &.poster {
      display: block;
      padding: 0;
    }
  }

  h2 {
    padding: 0 20px;
    margin: 0;
    color: $text;

    a {
      display: block;
      color: $text;
    }

    span {
      display: block;
    }

    small {
      display: block;
      font-style: italic;
      font-weight: 100;
      font-size: 0.6em;
    }
  }

  h3 {
    color: $blue;
    margin-bottom: 5px;
  }

  img {
    display: block;
  }

  > nav, > p {
    position: relative;
    padding: 10px $spacing;

    a {
      display: block;
      padding: 3px 0;
    }

    br {
      line-height: 30px;
    }
  }

  &--sms { @include card--product($sms); }
  &--number-insight { @include card--product($number-insight); }
  &--voice { @include card--product($voice); }
  &--chat { @include card--product($chat); }
  &--verify { @include card--product($verify); }
  &--account { @include card--product($atom); }
}

.card-in-development {
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($white, 0.85);
    z-index: 1;
  }

  text-align: center;
  padding: $spacing;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.85em;

  * {
    position: relative;
    z-index: 2;
  }

  p {
    color: mix($text, $white, 80%);
  }

  a {
    color: $blue;
  }

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.card--with-icon {
  h2, > nav, > p {
    padding-left: ($spacing * 2) + $ball-size;
  }
}

.card--with-icon__divider {
  position: relative;
  border-bottom: 2px solid $blue;
  margin-top: 2px;
  z-index: 3;

  i {
    background: $blue;
    color: $white;
    border-radius: 100%;
    position: absolute;
    width: $ball-size;
    height: $ball-size;
    line-height: $ball-size;
    font-size: $ball-size * 0.6;
    text-align: center;
    left: $spacing;
    top: -$ball-size/2;
  }
}

.card--invisible {
  // background: none;
  // border: none;
  // box-shadow: none;
}
