$ball-size: 44px;

@mixin card--product($color, $color-light) {
  color: $color;
  hr { border-top-color: mix($color, $white, 20%) }
  h3 { color: $color; }

  .card--with-icon__divider {
    border-bottom: 2px solid $color;
    i {
      color: $color;
      background: $color-light;
      border-color: $color;
    }
  }
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  > div {
    flex: 1;
    min-width: 340px;
    padding: 0 10px;

    @include mobile() {
      min-width: 280px;
    }
  }
}

.card {
  display: block;
  position: relative;
  background: $white;
  border: $border;
  border-radius: $radius;
  box-shadow: $shadow;
  margin-bottom: $spacing;
  font-size: 16px;

  .spacious {
    padding: $spacing 0;
  }

  a {
    display: inline-block;
    padding: $spacing/2 0;
    color: $text;

    &:hover {
      color: $blue;
    }

    &.poster {
      display: block;
      padding: 0;
    }

    &.button {
      color: $white;
      text-align: center;
    }
  }

  h2 {
    padding: 0 20px;
    margin: 0;
    color: $text;

    a {
      display: block;
      color: $text;
    }

    span {
      display: block;
    }

    small {
      display: block;
      font-style: italic;
      font-weight: 100;
      font-size: 0.6em;
    }
  }

  h3 {
    color: $blue;
    margin-bottom: 5px;
  }

  img {
    display: block;
  }

  > nav, > p {
    position: relative;
    padding: 10px $spacing;

    a {
      display: block;
      padding: 3px 0;

      &.inline {
        display: inline-block;
      }
    }

    br {
      line-height: 30px;
    }
  }

  &--sms { @include card--product($sms, $sms-light); }
  &--number-insight { @include card--product($number-insight, $number-insight-light); }
  &--voice { @include card--product($voice, $voice-light); }
  &--verify { @include card--product($verify, $verify-light); }
  &--account { @include card--product($account, $account-light); }
}

.card--with-icon {
  h2, > nav, > p {
    padding-left: ($spacing * 2) + $ball-size;
  }
}

.card--with-icon__divider {
  position: relative;
  border-bottom: 2px solid $blue;
  margin-top: 2px;
  z-index: 3;

  i {
    background: $ice;
    color: $blue;
    border: 1px solid $blue;
    border-radius: 100%;
    position: absolute;
    width: $ball-size;
    height: $ball-size;
    line-height: $ball-size;
    font-size: $ball-size * 0.6;
    text-align: center;
    left: $spacing;
    top: -$ball-size/2;
  }
}
