.Nxd-card--tutorials {
  margin-bottom: $unit2;
  margin-top: $unit1; // Prevents masonry from cutting top on hover

  .Vlt-badge {
    bottom: -10px;
    left: 10px;
    position: absolute;
    z-index: 1;

    + span {
      display: block;
    }
  }

  .Nxd-tutorials {
    &__language {
      margin-right: 10px;

      &--Java span {
        color: $orange-dark;
      }

      &--Node span,
      &--JavaScript span {
        color: $yellow;
      }

      &--PHP span{
        color: $blue-dark;
      }

      &--Python span {
        color: $blue-darker;
      }

      &--Ruby span {
        color: $red-dark;
      }
    }

    &__product {
      &--SMS {
        background: $purple;
      }

      &--Voice {
        background: $green;
      }

      &--Verify {
        background: $indigo;
      }

      &--Number {
        background: $orange;
      }
    }
  }
}

.Nxd-card--products {
  min-width: 300px;

  nav a {
    display: inline-block;
    margin: $unit0 0;
    width: 49%;

    .Vlt-icon {
      margin-right: $unit1;
    }
  } 
} 

.Nxd-card__link {
  border-bottom: 1px solid $grey-light;
  color: $black;
  display: block;
  margin-bottom: $unit2;
  padding-bottom: $unit0;
  padding-right: 40px;
  position: relative;

  &:after {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2022.0.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2024%2024%22%20style%3D%22enable-background%3Anew%200%200%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20style%3D%22fill%3A%23C4CDD5%3B%22%20d%3D%22M13.5%2C12l-5.2%2C5.4c-0.3%2C0.4-0.3%2C0.9%2C0%2C1.3c0.3%2C0.3%2C0.9%2C0.4%2C1.2%2C0c0%2C0%2C0%2C0%2C0%2C0L16%2C12L9.5%2C5.3%0A%09c-0.3-0.3-0.9-0.4-1.2%2C0c0%2C0%2C0%2C0%2C0%2C0c-0.3%2C0.4-0.3%2C0.9%2C0%2C1.3L13.5%2C12z%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 30px;
    right: 0;
    position: absolute;
    top: -5px;
    width: 25px;
  }

  p {
    color: $grey-darker;
  }

  h5 {
    margin-bottom: $unit0;
  }

  &:hover {
    color: $grey-darker;

    p {
      color: $grey-dark;
    }

    &:after {
      opacity: 0.5;
    }
  }
}

.Nxd-github-card {
  position: relative;

  @media #{$L-plus} {
    margin-bottom: $unit3;
  }

  span {
    color: $grey-darker;
  }

  &__meta {
    margin-top: $unit2;
    display: block;

    > span {
      margin-right: $unit2;
    }
  }

  &__badge {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.Nxd-products-banner {
  text-align: center;

  .Vlt-icon {
    display: block;
    margin: 0 auto $unit1;
  }
}

.Nxd-card {
  width: calc(100% - 280px);

  @media #{$S-only} {
    width: 100%;
  }
}

.Nxd-col-stretch {
  display: flex;
  align-items: stretch;

  .Vlt-card {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .color-text {
    margin-left: 70px;
    padding: 10px;
  }
}


.Vlt-card {
  &__image {
    &--aqua {
      background: linear-gradient(to right, lighten($aqua, 5), darken($aqua, 10));

      .Vlt-card__image__icon svg {
        fill: $aqua;
      }
    }
  }


}
