@keyframes spin {
  0%   {-webkit-transform: rotate(0deg)}
  100% {-webkit-transform: rotate(359deg)}
}

.feedback {
  background: mix($mint, $ice);
  padding: $spacing;
  border: $border;
  border-radius: $radius;
  box-shadow: $shadow-soft;
  border: $border;
  border-width: 2px;

  #feedback__improve {
    i {
      font-size: 1.5em;
      position: relative;
      top: 4px;
      margin-right: 3px;
    }
  }
}

.sentiment {
  display: block;
  float: left;
  font-size: 24px * 1.1;
  border: 2px solid $white;
  margin-right: 10px;
  border-radius: 100%;
  cursor: pointer;
  width: 46px * 1.1;
  height: 46px * 1.1;
  line-height: 48px * 1.1;
  text-align: center;
  background: $white;
  color: $white;
  box-shadow: $shadow;
  border: $border;
  border-width: 2px;
  margin-bottom: $spacing;

  &--loading, &--disabled {
    cursor: wait;
  }

  &--loading {
    position: relative;
    color: $gray;
    > div {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      animation: spin 1.2s infinite ease-in-out;
    }
  }

  &--disabled {
    color: $gray;
  }

  &--negative {
    color: $negative;
    &:hover, &.sentiment--active { border-color: $negative; }
    &.sentiment--active { background : $negative; }
  }

  &--positive {
    color: $positive;
    &:hover, &.sentiment--active { border-color: $positive; }
    &.sentiment--active { background : $positive; }
  }

  &--active {
    color: $white;
  }
}

#FeedbackComponent {
  h2 {
    margin-top: 0;
    margin-bottom: $spacing;
    color: $blue;
  }

  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: $blue;
  }

  input[type=email] {
    max-width: 400px;
  }

  textarea, input[type=text], input[type=email] {
    margin-bottom: $spacing;
    box-shadow: none;
    width: 100%;
  }

  input[type=submit] {
    width: 100%;
  }
}
