.github-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.github-cards div {
  min-width: 350px;
  flex: 1;
}

.github-card {
  position: relative;
  display: block;
  box-sizing: border-box;
  background: $white;
  border: $border;
  shadow: $shadow-soft;
  border-radius: $radius;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  color: #555;
  text-decoration: none;
  font-size: 13px;
  box-shadow: $shadow;

  @include mobile {
    margin-right: 0;
  }
}

.github-card:hover {
  text-decoration: none;
  color: #555;
}

.github-card > h3 {
  margin-top: 0;
  color: #4078c0;
  font-size: 15px;
}
.github-card > h3, .github-card > p {
  margin-left: 0;
}

.github-card__meta {
  margin-right: 20px;
}

.github-card__meta > i {
  font-size: 16px;
}

.github-card__badge {
  position: absolute;
  top: 20px;
  right: 10px;
}
