.label {
  background: $primary;
  color: $white;
  font-weight: 700;
  padding: 2px 5px 1px 5px;
  font-size: 13px;
  border-radius: 3px;
  text-align: center;

  background: $blue;
  border-color: $blue;

  &--webhook .icon {
    .navigation & {
      color: $webhook;
    }
  }

  &--callback .icon {
    .navigation & {
      color: $callback;
    }
  }

  h1 & {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: -6px;
  }

  h3 & {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: -3px;
  }

  h4 & {
    font-size: 18px;
    font-weight: 600;
  }

  h5 & {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
  }

  &--code {
    font-family: Consolas, monospace;
    font-size: 15px;
    padding: 4px 5px 1px 5px;

    .navigation & {
      font-size: 10px;
      padding: 2px 2px 0 2px;
      position: absolute;
      right: 100%;
      margin-right: 5px;
      border-width: 2px;
      background: none;
      opacity: 0.6;
    }

    .navigation .active & {
      opacity: 1;
    }
  }

  &--positive, &--post {
    background: $positive;
    .navigation & { color: mix($positive, $background, 80%); }
  }

  &--negative, &--delete {
    background: $negative;
    .navigation & { color: mix($negative, $background, 80%); }
  }

  &--warning, &--put {
    background: $warning;
    .navigation & { color: mix($warning, $background, 80%); }
  }

  &--get {
    background: $blue;
    .navigation & { color: mix($blue, $background, 80%); }
  }

  &--status--2xx {
    background: $positive;
  }

  &--status--3xx {
    background: $orange;
  }

  &--status--4xx {
    background: $red;
  }

  &--callback {
    background: $callback;
  }

  &--webhook {
    background: $webhook;
  }

  &--inverted {
    background: $white;
    color: $blue;
    border: 1px solid $blue;
  }

  &--status--2xx {
    background: $positive;
  }

  &--status--3xx {
    background: $orange;
  }

  &--status--4xx {
    background: $red;
  }
}
