.masonry {
    column-count: 1;
    column-gap: $spacing;


  .item {
      display: inline-block;
      width: 100%;
  }
}


@media all and (min-width: 800px) {
  .masonry {
    column-count: 2;
  }
}

@media all and (min-width: 1500px) {
  .masonry {
    column-count: 3;
  }
}
