.sidenav {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  > ul {
    position: relative;
  }

  a {
    color: $gray;
    font-weight: 600;
    padding: 5px 0;
    display: inline-block;

    &.active {
      font-weight: 600;
      color: $blue;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  ul {
    overflow: hidden;

    &.has-label {
      overflow: visible;
      border-left: none;
    }
  }

  .expanded {
    border-left: 1px solid $gray-light;
    margin-left: 5px;
    padding-left: $spacing - 5px;
    margin-top: 5px;
    margin-bottom: 5px;

  }

  ul, li {
    margin: 0;
  }

  li {
    position: relative;
  }

  ul ul {
    padding-left: $spacing;
    font-size: 15px;
    font-weight: 500;

    ul {
      font-size: 14px;

      a {
        font-weight: 500;
      }
    }
  }

  hr {
    border-top-width: 1px;
    border-top-style: dotted;
  }
}

.navigation--fixed {
  top: 0;
  padding-top: 20px;
  max-height: 100vh;
  overflow-y: auto;
}

@media screen and (max-width: 640px) {
  .sidenav {
    > ul {
      position: relative !important;
      width: auto !important;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 640px) {
  .sidenav {
    > ul {
      width: 20%;
    }
  }
}
