@mixin highlighted-navigation($color) {
  border: 1px solid $color;
  color: $color;
  border-radius: 4px;
  padding: 1px 4px;
  margin: 4px 0;
  font-size: 0.85em;
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.sidenav {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  > ul {
    position: relative;
  }

  .sidenav-back {
    color: $link-subtle;
    font-size: 0.9em;
    font-weight: 500;
  }

  a {
    color: $gray;
    font-weight: 600;
    padding: 5px 0;
    display: inline-block;

    &.active {
      font-weight: 600;
      color: $blue;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  ul {
    overflow: hidden;

    &.has-label {
      overflow: visible;
      border-left: none;
    }
  }

  .expanded {
    border-left: 1px solid $gray-light;
    margin-left: 5px;
    padding-left: $spacing - 5px;
    margin-top: 5px;
    margin-bottom: 5px;

  }

  ul, li {
    margin: 0;
  }

  li {
    position: relative;
  }

  ul ul {
    padding-left: $spacing;
    font-size: 15px;
    font-weight: 500;

    ul {
      font-size: 14px;

      a {
        font-weight: 500;
      }
    }
  }

  hr {
    border-top-width: 1px;
    border-top-style: dotted;
  }

  &--spacious {
    margin: 0 $spacing;
  }
}

.navigation--documentation {
  .navigation-item--tutorials a {
    @include highlighted-navigation($pink);
  }

  .navigation-item--api-reference a {
    @include highlighted-navigation($blue);
  }

  .navigation-item--ncco-reference a {
    @include highlighted-navigation($gray-dark);
  }
}

@media screen and (max-width: 640px) {
  .sidenav {
    > ul {
      position: relative !important;
      width: auto !important;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 640px) {
  .sidenav {
    > ul {
      width: 20%;
    }
  }
}
