$slate-navigation: 250px;
$content-minimum-width: 700px;
$code-minimum-width: $content-minimum-width / $golden-ratio;
$inital-break: $slate-navigation + $content-minimum-width + $code-minimum-width;
$secondary-break: $inital-break - $slate-navigation;
$slate-documentation-flex: $golden-ratio;
$ratio-total: $golden-ratio + 1;

.slate-layout, .slate-layout-navigation, .slate-layout-code, .slate-layout-main, .slate-layout-documentation {
  box-sizing: border-box;
}

.slate-layout {
  display: flex;
  flex-direction: column;

  @media (min-width: $inital-break) {
    flex-direction: row;
  }
}

.slate-layout-navigation {
  flex: 1;
  border-bottom: 3px solid $mint;

  @media (min-width: $inital-break) {
    flex: 0 0 $slate-navigation;
    border-bottom: none;
  }

  .js-scrollspy {
    @media (max-width: $inital-break - 1px) {
      position: static !important;
    }
  }
}

.slate-layout-main {
  flex: 1;

  > div {
    display: flex;
    flex-direction: column;

    @media (min-width: $secondary-break) {
      flex-direction: row;
    }
  }
}

.slate-layout-documentation, .slate-layout-code {
  overflow: auto;
}

.slate-layout-documentation {
  flex: $golden-ratio;

  > div {
    min-width: 630px;
    padding-right: 20px;
  }
}

.slate-layout-code {
  flex: 1;

  @media (min-width: $secondary-break) {
    pre {
      width: calc((100vw / #{$ratio-total}) - (#{$spacing * 2}));
    }
  }

  @media (min-width: $inital-break) {
    pre {
      width: calc(((100vw - #{$slate-navigation}) / #{$ratio-total}) - (#{$spacing * 2}));
    }
  }
}

.slate-layout {
  margin-top: -$spacing;
  margin-bottom: -$spacing;
  min-height: 100vh;

  h1, h2, h3, h4 {
    font-weight: 600;
  }

  h2, h3 {
    font-weight: 500;
  }

  h3, h4 {
    margin-bottom: $spacing;
  }

  h4 .label {
    font-size: 13px;
    padding: 1px 3px;
    position: relative;
    top: -2px;
  }

  h2 {
    font-size: 32px;
    line-height: 32px;
  }

  h3 {
    font-size: 28px;
    line-height: 28px;
  }
}

.slate-layout-navigation, .slate-layout-documentation {
  > div {
    margin: $spacing;
  }
}

.slate-layout-documentation {
  background: $white;
  border-left: $border;
  box-shadow: $shadow-soft;
  border-bottom: $border;
  border-bottom-color: mix($blue, $white, 10%);
  font-size: 0.95em;

  &--group {
    border-bottom: none;
  }
}

.slate-layout-code {
  background: lighten($atom, 3%);
  color: $white;
  border-bottom: 2px solid lighten($atom, 7%);

  h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }

  a {
    color: mix($blue, $white);
    border: none;
  }

  p code {
    background-color: $atom;
    border-color: darken($atom, 2%);
    color: $yellow;
  }

  .tabs-title a {
    padding: 0.75rem;
  }

  &__inner {
    padding: $spacing;
    padding-top: $spacing * 2;

    .tabs {
      display: none;
      border: none;

      &--schema {
        display: block;
      }
    }

    .tabs-content {
      background: none;
      border: none;
    }

    .tabs-panel {
      padding: 0;
    }
  }
}

.js-format-selector {
  float: right;
  right: 20px;
  top: 20px;
}
