.tabs {
  margin-bottom: 0 !important;
}

.tabs-title {
  margin-bottom: 0 !important;

  a {
    padding: 0.75rem;
  }
}


.tabs {
  background-color: darken($atom, 5%);
  padding-left: 0;
  overflow: hidden;
  border: none;

  border-radius: $radius-top;
  box-shadow: $shadow-soft;
  border: $border;

  .tabs-title {
    > a {
      color: $white;
      font-size: 1rem;
      border-bottom: none;
    }

    > a:hover {
      background: darken($atom, 5%);
      color: $white;
    }

    &.is-active {
      > a:hover {
        background: $pink;
        color: $white;
      }
    }
  }

  &--frameless {
    background: none;
    border: none;
    box-shadow: none;

    .tabs-title {
      > a {
        background: $mint;
        border-radius: $radius;
        color: $text;
        margin-right: 10px;
      }
    }
  }
}

.tabs-content {
  margin-bottom: $spacing;
  border-width: 1px;
  border-color: $mint;
  border-radius: $radius-bottom;
  box-shadow: $shadow-soft;

  &--frameless {
    border: none;
    background: none;
    box-shadow: none;
    > .tabs-panel {
      padding: 1rem 0;
    }
  }
}

.tabs-panel {
  padding-bottom: 0;
}

.tabs--code, .tabs-content--code {
  border: none;
}

.tabs-content--code {

  .tabs-panel {

    pre.highlight {
      border-radius: 0 0 3px 3px;
      overflow: auto;
    }

    position: relative;
    padding: 0;

    &:after {
      content: " ";
      display: block;
      background: linear-gradient(to right, rgba($code-background, 0) 0%,rgba($code-background, 1) 100%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 3px;
      width: 20px;
    }

    &:before {
      content: " ";
      display: block;
      background: linear-gradient(to right, rgba($code-background, 1) 0%,rgba($code-background, 0) 100%);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 3px;
      width: 20px;
      z-index: 2;
    }
  }
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
  background: $pink;
  color: $white;
}
