<h1>Tutorials</h1>

<div class="row">
  <div class="columns small-12 large-6">
    <% @tutorials.each do |tutorial| %>
      <div class="card">
        <h2 class="tight">
          <%= link_to tutorial[:title], tutorial[:path].gsub('_', ''), data: { 'turbolinks-action' => 'replace' } %>
        </h2>
        <nav>
          <a href="<%= tutorial[:path].gsub('_', '') %>" class="card-description">
            <%= tutorial[:description] %>
          </a>
        </nav>
      </div>
    <% end %>
  </div>
</div>
