<h1>Tutorials</h1>

<br>
<hr>
<br>

<div class="row">
  <% @tutorials.each_with_index do |tutorial, index| %>
    <div class="columns small-12 large-6 <%= index == @tutorials.count - 1 ? 'end' : '' %>">
      <a href="<%= tutorial[:path].gsub('_', '') %>" class="card card--with-icon">
        <h2>
          <span class="unstyled spacious">
            <%= tutorial[:title] %>
          </span>
        </h2>

        <div class="card--with-icon__divider">
          <i class="fa fa-book"></i>
        </div>

        <p class="color-text"><%= tutorial[:description] %></p>
      </a>
    </div>
  <% end %>
</div>
