<h1>Tutorials</h1>

<p>Get started with Nexmo with tutorials that will walk you through building a variety of practical applications</p>

<br>

<div class="masonry" data-turbolinks="false">
  <% @tutorials.each_with_index do |tutorial, index| %>
    <div class="item">
      <a href="<%= tutorial[:path].gsub('_', '') %>" class="card card--with-icon">
        <h2>
          <span class="unstyled spacious">
            <small><i><%= tutorial_subtitle(tutorial) %></i></small>
            <%= tutorial[:title] %>
          </span>
        </h2>

        <div class="card--with-icon__divider">
          <i class="icon icon-book"></i>
        </div>

        <p class="color-text"><%= tutorial[:description] %></p>
      </a>
    </div>
  <% end %>
</div>
