<ul class="navigation js-scrollspy">
  <li>
    <a href="/api/sms">SMS</a>
    <ul>
      <li>
        <a class="" href="#">Send an SMS</a>
        <ul>
          <li>
            <a class="" href="#request">Request</a>
            <ul>
              <li>
                <a class="" href="#base-url">Base URL</a>
              </li>
              <li>
                <a class="" href="#parameters">Parameters</a>
              </li>
              <li>
                <a class="" href="#authentication-information">Authentication information</a>
              </li>
              <li>
                <a class="" href="#security">Security</a>
              </li>
              <li>
                <a class="" href="#encoding">Encoding</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="" href="#response">Response</a>
            <ul>
              <li>
                <a class="" href="#payload">Payload</a>
              </li>
              <li>
                <a class="" href="#error-codes">Error codes</a>
              </li>
              <li>
                <a class="" href="#examples">Examples</a>
              </li>
              <li>
            </ul>
          </li>
          <li>
            <a class="" href="#inbound-messages">Inbound messages</a>
            <ul>
              <li>
                <a class="" href="#keys-and-values">Keys and Values</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
