<h3 class="collapsible">
    <a class="js-collapsible" data-collapsible-id="<%= id %>">
        Install dependencies
    </a>
</h3>

<div id="<%= id %>" class="collapsible-content" style="display: none;">
    <p><%=deps['text']%></p>
    <pre class="highlight bash"><code><%=deps['code']%></code></pre>
</div>

