#community-slack-image {
  vertical-align: middle;
  margin-right: 10px;
}

#community-events {
	h3 {
		color: $blue-dark;
		margin-bottom: $unit1;

		&:hover {
			color: $blue-darker;
		}
	}

	svg {
		margin-right: $unit0;
	}

	.community-event__date {
		border-top: 1px solid $grey-light;
		border-bottom: 1px solid $grey-light;
		padding: $unit1 0;
		margin-bottom: $unit1;
	}
}