#header {
  background: $blue;
  color: $white;
  padding: $spacing 0;

  @include mobile {
    text-align: center;
    padding: $spacing*0.75 0 $spacing*0.5 0;
  };

  a {
    color: mix($white, $blue, 90%);
    border: none;
  }

  nav {
    float: right;
    line-height: 38px;

    a {
      margin-left: $spacing;
      letter-spacing: 0.13px;

      @include mobile {
        margin: 0 $spacing/2 0 $spacing/2;
      }

      b, &:hover {
        color: $white;
        font-weight: 600;
        letter-spacing: 0px;
      }
    }

    @include mobile {
      float: none;
    };
  }

  // @media screen and (max-width: )
}

#logo {
  display: inline-block;
  line-height: 38px;
  font-size: 26px;

  // @ https://css-tricks.com/the-image-replacement-museum/#ir-h5bp
  span {
    display: block;
    float: left;
    margin-right: 10px;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background: image-url('logo@3x.png');
    background-size: contain;
    width: 43px;
    height: 38px;
  }

  @include tablet-only {
    font-size: 20px;
  }
}

#subnav {
  background: $white;
  border-bottom: $border;
  margin-bottom: $spacing;
  box-shadow: $shadow-soft;

  .container {
    position: relative;
  }

  a {
    display: inline-block;
    margin-right: $spacing;
    color: $gray;
    padding: $spacing/2 5px;
    padding-bottom: $spacing/2 - 3px;

    &.active {
      font-weight: 600;
      color: $blue;
      border-bottom: 3px solid $blue;
    }
  }

  .quicksearch a {
    padding: 0;
  }

  form {
    float: right;
  }

  @include tablet {
    .container {
      display: flex;
      flex-wrap: wrap;
      > a {
        margin-right: 0;
        text-align: center;
        flex-grow: 1;
      }

      form {
        flex-grow: 1;
        margin: 0;
        margin-bottom: 10px;
        min-width: 150px;
        input {
          float: none;
          width: 100%;
        }
      }
    }
  };
}

#searchbox {
  float: right;
  width: 200px;
  height: 30px;
  border: $border;
  box-shadow: inset 0 0 6px rgba($black, 0.05);
  padding: 0 15px;
  border-radius: 15px;
  margin-top: 6px;
  color: $stone;
  outline: none;
  font-size: 14px;
  font-family: 'Averta', sans-serif;

  &:focus {
    border-color: $blue;
  }

  @include tablet-only {
    width: 150px;
  }
}

#search-results {
  z-index: 99;
  position: absolute;
  top: 50px;
  right: 10px;
  background: $white;
  border: $border;
  box-shadow: $shadow;
  border-radius: $radius;
  padding: 10px $spacing;
  padding-bottom: 0;
  font-size: 0.85em;
  border-top: 5px solid $pink;

  h2, h3 {
    margin-bottom: 0;
    a {
      padding: 0;
      color: $blue;
    }
  }
}
