#header {
  background: $blue;
  color: $white;
  padding: $spacing 0;

  a {
    color: $white;
    border: none;
  }

  nav {
    float: right;
    line-height: 38px;

    a {
      margin-left: $spacing;
    }
  }
}

#logo {
  display: inline-block;
  line-height: 38px;
  font-size: 26px;

  // @ https://css-tricks.com/the-image-replacement-museum/#ir-h5bp
  span {
    display: block;
    float: left;
    margin-right: 10px;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background: image-url('logo@3x.png');
    background-size: contain;
    width: 43px;
    height: 38px;
  }
}

#subnav {
  background: $white;
  border-bottom: 1px solid $mint;
  margin-bottom: $spacing;

  a {
    display: inline-block;
    margin-right: $spacing;
    color: $gray;
    padding: $spacing/2 5px;
    padding-bottom: $spacing/2 - 3px;

    &.active {
      font-weight: 600;
      color: $blue;
      border-bottom: 3px solid $blue;
    }
  }
}
