.landing-filler {
  height: 258px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: $border;
  border-radius: $radius;
  margin-bottom: $spacing;

  h3 {
    color: lighten($text-subtle, 20%);
  }

  hr {
    width: 40px;
    margin: $spacing auto;

  }
}
