<center>
  <img src="/assets/images/lost.svg" alt="" width="120">
  <br><br>
  <h2>This page can't be found!</h2>
  <% if @results && @results.map(&:hits).flatten.any? %>
    <p>Perhaps you were looking for one of these?</p>
    <div class="Vlt-grid">
    <% @results.each do |index| %>
      <div class="Vlt-col">
        <div class="Vlt-card">
          <% if index.index.include? 'nexmo_developer' %>
            <h2>Nexmo Developer</h2>
          <% elsif index.index == 'zendesk_nexmo_articles' %>
            <h2>Knowlegebase</h2>
          <% end %>

        <hr>

        <% index.hits.each do |hit| %>
          <%= render 'search/result', hit: hit, index_name: index.index %>
        <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</center>
