<div class="row">
  <div class="columns small-12 medium-6">
    <div class="center spacious content-block">
      <h3>
        <a href="/tools">
          <i class="icon icon-toolbox"></i>
          SDKs &amp; Tools
        </a>
      </h3>
      <p>The Nexmo libraries allow you to get up and running with<br>Nexmo APIs quickly in your language of choice.</p>
    </div>
  </div>
  <div class="columns small-12 medium-6 content-block">
    <div class="center spacious">
      <h3>
        <a href="/community">
          <i class="icon icon-community"></i>
          Community
        </a>
      </h3>
      <p>Find out about our talks, community hacks,<br>and what events we'll be at.</p>
    </div>
  </div>
</div>