<div class="github-cards">
  <div>
    <a href="https://github.com/Nexmo/nexmo-dotnet" class="github-card" data-github="Nexmo/nexmo-dotnet">
      <h3>nexmo-dotnet</h3>
      <p>Nexmo REST API client for .NET</p>
      <img src="//badge.fury.io/nu/nexmo.svg" class="github-card__badge" height="18">
      <span class="github-card__meta">
        <span class="github-card__language-icon" style="color: #178600;">●</span> C#
      </span>
      <span class="github-card__meta">
        <i class="icon icon-star" aria-hidden="true"></i>
        <span data-stars>
          <i class="icon icon-spinner" aria-hidden="true"></i>
        </span>
      </span>
      <span class="github-card__meta">
        <i class="icon icon-code-fork" aria-hidden="true"></i>
        <span data-forks>
          <i class="icon icon-spinner" aria-hidden="true"></i>
        </span>
      </span>
    </a>
  </div>
</div>