<div class="Vlt-grid Vlt-grid--center Vlt-grid--margin-top2">
  <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--purple">
        <div class="Vlt-card__image__icon">
          <svg>
            <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-message" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <small class="Vlt-grey-dark">Send and receive</small>
        <h2>
          <a href="/messaging/sms/overview">
            SMS
          </a>
        </h2>
        <nav>
          <a href="/messaging/sms/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-purple"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
          <a href="/messaging/sms/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-purple"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
          <a href="/messaging/sms/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-purple"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
          <a href="/messaging/sms/tutorials"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-purple"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-mockup" /></svg>Tutorials</a>
          <hr class="hr--short">
          <a href="/api/sms">API Reference</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--green">
        <div class="Vlt-card__image__icon">
          <svg>
            <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-phone" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <small class="Vlt-grey-dark">Programmable</small>
        <h2>
          <a href="/voice/overview">
            Voice
          </a>
        </h2>
        <nav>
          <a href="/voice/"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-green" aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
          <a href="/voice/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-green"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
          <a href="/voice/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-green"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
          <a href="/voice/voice-api/tutorials"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-green"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-mockup" /></svg>Tutorials</a>
          <hr class="hr--short">
          <a href="/api/voice">API Reference</a>
          <a href="/voice/voice-api/ncco-reference">NCCO Reference</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--teal">
        <div class="Vlt-card__image__icon">
          <svg>
            <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-queue" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <small class="Vlt-teal">Programmable Conversations</small>
        <h2>
          <a href="/conversation/overview">
            Conversation API
          </a>
        </h2>
        <nav>
          <a href="/conversation/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
          <a href="/conversation/concepts/conversation"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Concepts</a>
          <a href="/conversation/guides/application-setup"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
          <a href="/conversation/code-snippets/conversation/list-conversations"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
          <a href="/conversation/tutorials"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-mockup" /></svg>Tutorials</a>
          <hr class="hr--short">
          <a href="/api/conversation">API Reference</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--indigo">
        <div class="Vlt-card__image__icon">
          <svg>
            <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-lock" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <small class="Vlt-grey-dark">User Authentication</small>
        <h2>
          <a href="/verify/overview">
            Verify
          </a>
        </h2>
        <nav>
          <a href="/verify/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-indigo"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
          <a href="/verify/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-indigo"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
          <a href="/verify/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-indigo"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
          <a href="/verify/tutorials"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-indigo"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-mockup" /></svg>Tutorials</a>
          <hr class="hr--short">
          <a href="/api/verify">API Reference</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--orange">
        <div class="Vlt-card__image__icon">
          <svg>
            <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-file-search" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <small class="Vlt-grey-dark">User Identity</small>
        <h2>
          <a href="/number-insight/overview">
            Number Insight
          </a>
        </h2>
        <nav>
          <a href="/number-insight/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-orange"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
          <a href="/number-insight/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-orange"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
          <a href="/number-insight/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-orange"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
          <a href="/number-insight/tutorials"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-orange"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-mockup" /></svg>Tutorials</a>
          <hr class="hr--short">
          <a href="/api/number-insight">API Reference</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--blue-light">
        <div class="Vlt-card__image__icon">
          <svg>
            <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-user" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <small class="Vlt-grey-dark">Management</small>
        <h2>
          <a href="/account/overview">
            Account
          </a>
        </h2>
        <nav>
          <a href="/account/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-blue-light"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
          <a href="/account/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-blue-light"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
          <a href="/account/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-blue-light"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
          <br>
          <hr class="hr--short">
          <a href="/api/account">API Reference</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2 Nxd-col-stretch">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--center">

      <nav>
        <h3 class="Vlt-grey-dark">Developer API</h3>
        <a href="/api/developer/messages">Messages</a> |
        <a href="/api/developer/numbers">Numbers</a> |
        <a href="/api/developer/pricing">Pricing</a>
      </nav>
      <hr class="hr--short">
      <nav>
        <h3 class="Vlt-grey-dark">Global APIs</h3>
        <a href="/api/application">Application</a> |
        <a href="/api/conversion">Conversion</a>
        <br />
        <a href="/api/media">Media</a> |
        <a href="/api/redact">Redact</a> |
        <a href="/api/account/secret-management">Secret Management</a>
      </nav>
    </div>
  </div>
</div>

<div class="Vlt-grid Vlt-grid--center Vlt-grid--margin4 Nxd-products-banner">
  <div class="Vlt-col">
    <h2>
      <a href="/messages/overview">
        <svg class="Vlt-icon Vlt-purple Vlt-icon--larger" aria-hidden="true">
          <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>
        Messages and Dispatch Beta
      </a>
    </h2>
    <p>Integrate with various communication channels including Facebook Messenger, WhatsApp and Viber with failover</p>
  </div>
</div>

<div class="Vlt-grid Vlt-grid--center">

  <div class="Vlt-col Vlt-col--1of2 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--purple">
        <div class="Vlt-card__image__icon">
          <svg>
            <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-chat" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <small class="Vlt-grey-dark">One API, multiple channels</small>
        <h2>
          <a href="/messages/overview">
            Messages
          </a>
        </h2>
        <nav>
          <a href="/messages/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-purple"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
          <a href="/messages/concepts"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-purple"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Concepts</a>
          <a href="/messages/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-purple"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
          <a href="/messages/tutorials"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-purple"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-mockup" /></svg>Tutorials</a>
          <hr class="hr--short">
          <a href="/api/messages-olympus">API Reference</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of2 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--purple">
        <div class="Vlt-card__image__icon">
          <svg>
            <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-flow" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <small class="Vlt-grey-dark">Orchestrate messages with failover</small>
        <h2>
          <a href="/dispatch/overview">
            Dispatch
          </a>
        </h2>

        <nav>
          <a href="/dispatch/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-purple"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
          <a href="/dispatch/concepts"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-purple"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Concepts</a>
          <a href="/dispatch/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-purple"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
          <a href="/dispatch/tutorials"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-purple"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-mockup" /></svg>Tutorials</a>
          <a href="/dispatch/use-cases"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-purple"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-mockup" /></svg>Use Cases</a>
          <hr class="hr--short">
          <a href="/api/dispatch">API Reference</a>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="Vlt-grid Vlt-grid--center Vlt-grid--margin4 Nxd-products-banner">
  <div class="Vlt-col">
    <h2>
      <a href="/client-sdk/overview">
        <svg class="Vlt-icon Vlt-teal Vlt-icon--larger" aria-hidden="true">
          <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-duplicate" /></svg>
        Nexmo Client SDK - Early Access
      </a>
    </h2>
    <p>Build multi-platform applications with contextual communications using Nexmo Client SDK and Conversation API.</p>
  </div>
</div>

<div class="Vlt-grid Vlt-grid--center">

  <div class="Vlt-col Vlt-col--1of2 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--teal">
        <div class="Vlt-card__image__icon">
          <svg>
            <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-microphone" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <small class="Vlt-grey-dark">Nexmo Client SDK</small>
        <h2>
          <a href="/client-sdk/in-app-voice/overview">
            In-App Voice
          </a>
        </h2>
        <nav>
          <a href="/client-sdk/in-app-voice/overview"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
          <a href="/client-sdk/in-app-voice/overview#concepts"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Concepts</a>
          <a href="/client-sdk/setup/add-sdk-to-your-app"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Setup</a>
          <a href="/client-sdk/in-app-voice/getting-started/app-to-app-call"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Getting Started</a>
          <a href="/client-sdk/in-app-voice/guides/start-and-receive-calls"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
          <a href="/client-sdk/in-app-voice/contact-center-overview"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-mockup" /></svg>Use Cases</a>
          <hr class="hr--short">
          <a href="/api/conversation"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Conversation API Reference</a>
          <a href="/client-sdk/sdk-documentation/android"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-brand-icons.svg#Brand-icon-android-color" /></svg>SDK Reference -
            Android</a>
          <a href="/client-sdk/sdk-documentation/ios"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-brand-icons.svg#Brand-icon-apple-color" /></svg>SDK Reference - iOS</a>
          <a href="/client-sdk/sdk-documentation/javascript"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-brand-icons.svg#Brand-icon-javascript-color" /></svg>SDK Reference -
            JavaScript</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of2 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
      <div class="Vlt-card__image Vlt-card__image--app Vlt-card__image--teal">
        <div class="Vlt-card__image__icon">
          <svg>
            <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-chat" /></svg>
        </div>
      </div>
      <div class="Vlt-card__content">
        <small class="Vlt-grey-dark">Nexmo Client SDK</small>
        <h2>
          <a href="/client-sdk/in-app-messaging/overview">
            In-App Messaging
          </a>
        </h2>
        <nav>
          <a href="/client-sdk/in-app-messaging/overview"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
          <a href="/client-sdk/in-app-messaging/concepts"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Concepts</a>
          <hr class="hr--short">
          <a href="/api/conversation"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal"
              aria-hidden="true">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Conversation API Reference</a>
          <a href="/client-sdk/sdk-documentation/android"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-brand-icons.svg#Brand-icon-android-color" /></svg>SDK Reference -
            Android</a>
          <a href="/client-sdk/sdk-documentation/ios"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-brand-icons.svg#Brand-icon-apple-color" /></svg>SDK Reference - iOS</a>
          <a href="/client-sdk/sdk-documentation/javascript"><svg
              class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-teal" aria-hidden="true">
              <use xlink:href="/symbol/volta-brand-icons.svg#Brand-icon-javascript-color" /></svg>SDK Reference -
            JavaScript</a>
        </nav>
      </div>
    </div>
  </div>
</div>