<div class="card-grid">
  <div>
    <div class="card card--with-icon card--sms">
      <h2>
        <a href="/messaging/sms/overview" class="unstyled">
          <small>Send and receive</small>
          SMS
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-sms"></i>
      </div>

      <nav>
        <a href="/messaging/sms/overview">Overview</a>
        <a href="/messaging/sms/guides">Guides</a>
        <a href="/messaging/sms/building-blocks">Building Blocks</a>
        <a href="/messaging/sms/tutorials">Tutorials</a>
        <hr>
        <a href="/api/sms">API Reference</a>
      </nav>
    </div>
  </div>
  <div>
    <div class="card card--with-icon card--voice">
      <h2>
        <a href="/voice/overview" class="unstyled">
          <small>Programmable</small>
          Voice
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-voice"></i>
      </div>

      <nav>
        <a href="/voice/">Overview</a>
        <a href="/voice/guides">Guides</a>
        <a href="/voice/building-blocks">Building Blocks</a>
        <a href="/voice/voice-api/tutorials">Tutorials</a>
        <hr>
        <a href="/api/voice" class="inline">API Reference</a>
        &nbsp;<i>|</i>&nbsp;
        <a href="/voice/voice-api/ncco-reference" class="inline">NCCO Reference</a>
      </nav>
    </div>
  </div>
  <div>
    <div class="card card--with-icon card--verify">
      <h2>
        <a href="/verify/overview" class="unstyled">
          <small>User Authentication</small>
          Verify
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-verify"></i>
      </div>

      <nav>
        <a href="/verify/overview">Overview</a>
        <a href="/verify/guides/verify-a-user">Guides</a>
        <a href="/verify/building-blocks">Building Blocks</a>
        <a href="/verify/tutorials">Tutorials</a>
        <hr>
        <a href="/api/verify">API Reference</a>
      </nav>
    </div>
  </div>
  <div>
    <div class="card card--with-icon card--number-insight">
      <h2>
        <a href="/number-insight/overview" class="unstyled">
          <small>User Identity</small>
          Number insight
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-number-insight"></i>
      </div>

      <nav>
        <a href="/number-insight/overview">Overview</a>
        <a href="/number-insight/guides">Guides</a>
        <a href="/number-insight/building-blocks">Building Blocks</a>
        <a href="/number-insight/tutorials">Tutorials</a>
        <hr>
        <a href="/api/number-insight">API Reference</a>
      </nav>
    </div>
  </div>
  <div>
    <div class="card card--with-icon card--account">
      <h2>
        <a href="/account/overview" class="unstyled">
          <small>Management</small>
          Account
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-account"></i>
      </div>

      <nav>
        <a href="/account/overview">Overview</a>
        <a href="/account/guides">Guides</a>
        <a href="/account/building-blocks">Building Blocks</a>
        <br>
        <hr>
        <a href="/api/account">API Reference</a>
      </nav>
    </div>
  </div>
  <div>
    <div class="landing-filler">
      <div>

        <h3>Developer API</h3>
        <a href="/api/developer/account">Account</a> |
        <a href="/api/developer/messages">Messages</a> |
        <a href="/api/developer/numbers">Numbers</a> |
        <a href="/api/developer/pricing">Pricing</a>

        <hr>

        <h3>Global APIs</h3>
        <a href="/api/application">Application</a> |
        <a href="/api/conversion">Conversion</a> |
        <a href="/api/media">Media</a> |
        <a href="/api/account/secret-management">Secret Management</a>
      </div>
    </div>
  </div>
</div>

<div class="center spacious content-block">
  <h3>
    <a href="/stitch/overview">
      <i class="icon icon-stitch-messaging"></i>
      Nexmo Stitch Developer Preview
    </a>
  </h3>
  <p>Build multi-platform applications with contextual communications</p>
</div>

<div class="card-grid">
  <div>
    <div class="card card--with-icon card--conversation">
      <h2>
        <a href="/stitch/in-app-messaging/overview" class="unstyled">
          <small>Nexmo Stitch</small>
          In-App Messaging
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-in-app-messaging"></i>
      </div>

      <nav>
        <a href="/stitch/in-app-messaging/overview">Overview</a>
        <a href="/stitch/in-app-messaging/guides/simple-conversation/javascript">JavaScript Guide</a>
        <a href="/stitch/in-app-messaging/guides/simple-conversation/android">Android Guide</a>
        <a href="/stitch/in-app-messaging/guides/simple-conversation/ios">iOS Guide</a>
        <hr>
        <a href="/api/stitch">API Reference</a>
      </nav>
    </div>
  </div>
  <div>
    <div class="card card--with-icon card--conversation">
      <h2>
        <a href="/stitch/in-app-voice/overview" class="unstyled">
          <small>Nexmo Stitch</small>
          In-App Voice
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-in-app-voice"></i>
      </div>

      <nav>
        <a href="/stitch/in-app-voice/overview">Overview</a>
        <a href="/stitch/in-app-voice/guides/enable-audio/javascript">JavaScript Guide</a>
        <a href="/stitch/in-app-voice/guides/enable-audio/android">Android Guide</a>
        <a href="/stitch/in-app-voice/guides/enable-audio/ios">iOS Guide</a>
        <hr>
        <a href="/api/stitch">API Reference</a>
      </nav>
    </div>
  </div>
  <div>
    <div class="card card--with-icon card--conversation">
      <h2>
        <a href="/stitch/in-app-video/overview" class="unstyled">
          <small>Nexmo Stitch</small>
          In-App Video
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-in-app-video"></i>
      </div>

      <nav>
        <a href="/stitch/in-app-video/overview">Overview</a>
        <a href="/stitch/in-app-video/guides/enable-video/javascript">JavaScript Guide</a>
        <br>
        <br>
        <hr>
        <a href="/api/stitch">API Reference</a>
      </nav>
    </div>
  </div>
</div>

<div class="center spacious content-block">
  <h3>
    <a href="/messages-and-workflows-apis/messages/overview">
      <i class="icon icon-code"></i>
      Messages and Workflows Developer Preview
    </a>
  </h3>
  <p>Integrate with various communication channels including Facebook Messenger and Viber with failover.</p>
</div>

<div class="card-grid">
  <div>
    <div class="card card--with-icon card--conversation">
      <h2>
        <a href="/messages-and-workflows-apis/messages/overview" class="unstyled">
          <small>One API, multiple channels</small>
          Messages
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-code"></i>
      </div>

      <nav>
        <a href="/messages-and-workflows-apis/messages/overview">Overview</a>
        <a href="/messages-and-workflows-apis/messages/guides">Guides</a>
        <a href="/messages-and-workflows-apis/messages/building-blocks">Building Blocks</a>
        <hr>
        <a href="/api/messages-and-workflows-apis/messages">API Reference</a>
      </nav>
    </div>
  </div>
  <div>
    <div class="card card--with-icon card--conversation">
      <h2>
        <a href="/messages-and-workflows-apis/workflows/overview" class="unstyled">
          <small>Orchestrate messages with failover</small>
          Workflows
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-code"></i>
      </div>

      <nav>
        <a href="/messages-and-workflows-apis/workflows/overview">Overview</a>
        <a href="/messages-and-workflows-apis/workflows/guides">Guides</a>
        <a href="/messages-and-workflows-apis/workflows/building-blocks">Building Blocks</a>
        <hr>
        <a href="/api/messages-and-workflows-apis/workflows">API Reference</a>
      </nav>
    </div>
  </div>
</div>
