<div class="Vlt-grid Vlt-grid--center">
  <div class="Vlt-col Vlt-col--M-1of2">
    <div class="center">
      <h2>
        <a href="https://www.nexmo.com/blog/category/developer?ref=<%= @content['url']['reference'] %>">
          <div><svg class="Vlt-icon Vlt-icon--large Vlt-blue-dark"><use xlink:href="/symbol/volta-brand-icons.svg#Brand-icon-dotnet"/></svg></div>
          Nexmo &amp; .NET in action
        </a>
      </h2>
      <p>The Nexmo libraries allow you to get up and running with<br>Nexmo APIs quickly in your language of choice.</p>
    </div>
  </div>
</div>

<p class="p-large Vlt-margin--top2 Vlt-center">Examples and inspiration in .NET form</p>

<div class="Vlt-grid">
  <div class="Vlt-col Vlt-col--M-1of2 Vlt-col--1of2">
    <a class="Vlt-card" href="https://www.nexmo.com/blog/2018/07/11/add-two-factor-authentication-to-a-microsoft-bot-with-nexmos-verify-api-dr/">
      <img src="https://www.nexmo.com/wp-content/uploads/2018/07/2FA-MS-BOT-600x300.png" class="img-full wp-post-image" alt="" srcset="https://www.nexmo.com/wp-content/uploads/2018/07/2FA-MS-BOT-600x300.png 600w, https://www.nexmo.com/wp-content/uploads/2018/07/2FA-MS-BOT-1200x600.png 1200w" sizes="(max-width: 100%) 100vw, 100%">    
      <h4 class="Vlt-margin--top2">Add two factor authentication to a Microsoft bot with Nexmo’s Verify API</h4>
      <p>2FA (Two Factor Authentication) is increasingly used to increase security within applications.
      As bots become increasingly popular, developers will need ...</p>    
    </a>
  </div>
  <div class="Vlt-col Vlt-col--M-1of2 Vlt-col--1of2">
    <a class="Vlt-card" href="https://www.nexmo.com/blog/2018/05/22/getting-started-with-nexmo-number-insight-apis-and-asp-net-dr/">
      <img src="https://www.nexmo.com/wp-content/uploads/2018/05/Number-Insight-Nexmo-01-600x300.png" class="img-full wp-post-image" alt="" srcset="https://www.nexmo.com/wp-content/uploads/2018/05/Number-Insight-Nexmo-01-600x300.png 600w, https://www.nexmo.com/wp-content/uploads/2018/05/Number-Insight-Nexmo-01-768x384.png 768w, https://www.nexmo.com/wp-content/uploads/2018/05/Number-Insight-Nexmo-01.png 1128w" sizes="(max-width: 100%) 100vw, 100%">      
      <h4 class="Vlt-margin--top2">Getting Started with Nexmo Number Insight APIs and ASP.NET</h4>
      <p>Nexmo's Number Insight API is perfect for real-time validation of user input that could potentially protect your apps from ...</p>
    </a>
  </div>
</div>
