<div class="row">
  <div class="center spacious content-block">
    <h3>
      <a href="https://www.nexmo.com/blog/category/developer?ref=<%= @content['url']['reference'] %>">
        <i class="icon icon--large icon-dotnet"></i>
        Nexmo &amp; .NET in action
      </a>
    </h3>
    <p>Examples and inspiration in .NET form</p>
        <br />
      <div class="columns small-12 medium-6">
        <a href="https://www.nexmo.com/blog/2018/07/11/add-two-factor-authentication-to-a-microsoft-bot-with-nexmos-verify-api-dr/">
        <div class="card article">
          <div class="blog-thumb">
            <img src="https://www.nexmo.com/wp-content/uploads/2018/07/2FA-MS-BOT-600x300.png" class="img-full wp-post-image" alt="" srcset="https://www.nexmo.com/wp-content/uploads/2018/07/2FA-MS-BOT-600x300.png 600w, https://www.nexmo.com/wp-content/uploads/2018/07/2FA-MS-BOT-1200x600.png 1200w" sizes="(max-width: 100%) 100vw, 100%">                                    				
          </div>
          <div class="blog-excerpt">
            <h2>Add two factor authentication to a Microsoft bot with Nexmo’s Verify API</h2>
            <p>2FA (Two Factor Authentication) is increasingly used to increase security within applications.
            As bots become increasingly popular, developers will need ...</p>
          </div>
        </div>
        </a>
      </div>
      <div class="columns small-12 medium-6">
        <a href="https://www.nexmo.com/blog/2018/05/22/getting-started-with-nexmo-number-insight-apis-and-asp-net-dr/">
        <div class="card article">
          <div class="blog-thumb">
            <img src="https://www.nexmo.com/wp-content/uploads/2018/05/Number-Insight-Nexmo-01-600x300.png" class="img-full wp-post-image" alt="" srcset="https://www.nexmo.com/wp-content/uploads/2018/05/Number-Insight-Nexmo-01-600x300.png 600w, https://www.nexmo.com/wp-content/uploads/2018/05/Number-Insight-Nexmo-01-768x384.png 768w, https://www.nexmo.com/wp-content/uploads/2018/05/Number-Insight-Nexmo-01.png 1128w" sizes="(max-width: 100%) 100vw, 100%">                                    				
          </div>
          <div class="blog-excerpt">
            <h2>Getting Started with Nexmo Number Insight APIs and ASP.NET</h2>
            <p>Nexmo's Number Insight API is perfect for real-time validation of user input that could potentially protect your apps from ...</p>                                    			</div>
          </div>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>