<center>
  <h1>Changelog</h1>
</center>


<div class="row" id="primary-content">
  <div class="columns small-12 medium-10 small-centered medium-centered">
    <% @versions.reverse.each do |version| %>
      <div class="row">
        <div class="columns small-2 right">
          <p class="version">
            <span class="label">v<%= version[:version] %></span><br>
            <small><%= version[:date].strftime('%d %b %y') %></small>
          </p>
        </div>
        <div class="columns small-10">
          <%= version[:body].html_safe %>
        </div>
      </div>
    <% end %>
  </div>
</div>
