<div class="row">
  <div class="columns small-12 medium-8 medium-centered large-6 medium-centered">
    <center>
      <h1>Nexmo ❤️ community</h1>
      <h2>You can find us at these upcoming events:</h2>
      <br>
      <hr class="hr--mini">
      <% @upcoming_events.each do |event| %>
        <br>
        <h2><%= link_to event.title, event.url, target: '_blank' %></h2>
        <p><b><%= event.date_range %></b></p>
        <p><%= event.description %></p>
        <br>
        <hr class="hr--mini">
      <% end %>
    </center>
  </div>
</div>
