<h1>Documentation</h1>

<p>Welcome to the Nexmo Developer Documentation. Get familiar with <a href="#concepts">concepts</a> common to Nexmo APIs, <a href="#doc-types">documentation types</a> and <a href="#products">products</a>. Thens starting building connected applications with Nexmo.</p>

<a name="concepts"></a>
<h2>Concepts</h2>

There are a number of shared concepts between the various Nexmo APIs:

<ul>
  <li><a href="/concepts/guides/applications">Applications</a> - Security and configuration information you need to connect to Nexmo endpoints</li>
  <li><a href="/concepts/guides/authentication">Authentication</a> – API keys, OAuth, and JSON Web Tokens (JWTs)</li>
  <li><a href="/concepts/guides/oauth">OAuth</a> – How to use OAuth 1.0a with Nexmo's API</li>
  <li><a href="/concepts/guides/signing-messages">Signing requests</a> – How to cryptographically sign requests</li>
  <li><a href="/concepts/guides/webhooks">Webhooks</a> – Nexmo's API can send data back to your web server via a webhook</li>
</ul>

<a name="doc-types"></a>
<h2>Documentation Types</h2>

<p>Documentation within Nexmo Developer is organised by product. Within each product section you'll find the following types of documentation:</p>

<ul>
  <li><b>Guides</b> - A walkthrough of the product highlighting core functionality and features</li>
  <li><b>Building Blocks</b> - Quick access code samples to help you construct your programmable communications apps</li>
  <li><b>Tutorials</b> - Step-by-step tutorials to help you build common communications use cases</li>
  <li><b>API Reference</b> - The resources, parameters and payload examples</li>
</ul>

<a name="products"></a>
<h2>Products</h2>

<div class="row">
  <div class="columns small-12">

    <br>

    <div class="row">
      <div class="columns small-12 medium-6">
        <div class="card card--with-icon card--sms">
          <h2>
            <a href="/messaging/sms/overview" class="unstyled">
              <small>Send and receive</small>
              SMS
            </a>
          </h2>

          <div class="card--with-icon__divider">
            <i class="fa fa-comments-o"></i>
          </div>

          <nav>
            <a href="/messaging/sms/overview">Overview</a>
            <a href="/messaging/sms/guides">Guides</a>
            <a href="/messaging/sms/building-blocks">Building Blocks</a>
            <a href="/messaging/sms/tutorials">Tutorials</a>
            <hr>
            <a href="/api/">API Reference</a>
          </nav>
        </div>
      </div>
      <div class="columns small-12 medium-6">
        <div class="card card--with-icon card--voice">
          <h2>
            <a href="/voice/overview" class="unstyled">
              <small>Programmable</small>
              Voice
            </a>
          </h2>

          <div class="card--with-icon__divider">
            <i class="fa fa-microphone"></i>
          </div>

          <nav>
            <a href="/voice/">Overview</a>
            <a href="/voice/guides">Guides</a>
            <a href="/voice/building-blocks">Building Blocks</a>
            <a href="/voice/tutorials">Tutorials</a>
            <hr>
            <a href="/api/">API Reference</a>
          </nav>
        </div>
      </div>
      <div class="columns small-12 medium-6">
        <div class="card card--with-icon card--verify">
          <h2>
            <a href="#" class="unstyled">
              <small>User Authentication</small>
              Verify
            </a>
          </h2>

          <div class="card--with-icon__divider">
            <i class="fa fa-key"></i>
          </div>

          <nav>
            <a href="/verify">Overview</a>
            <a href="/verify/guides/verify-a-user">Guides</a>
            <a href="/verify/building-blocks">Building Blocks</a>
            <a href="/verify/tutorials">Tutorials</a>
            <hr>
            <a href="/api/verify">API Reference</a>
          </nav>
        </div>
      </div>
      <div class="columns small-12 medium-6">
        <div class="card card--with-icon card--number-insight">
          <h2>
            <a href="#" class="unstyled">
              <small>User Identity</small>
              Number insight
            </a>
          </h2>

          <div class="card--with-icon__divider">
            <i class="fa fa-eye"></i>
          </div>

          <nav>
            <a href="#">Overview</a>
            <a href="#">Guides</a>
            <a href="#">Building Blocks</a>
            <a href="#">Tutorials</a>
            <hr>
            <a href="/api/">API Reference</a>
          </nav>
        </div>
      </div>
      <div class="columns small-12 medium-6 end">
        <div class="card card--with-icon card--account">
          <h2>
            <a href="#" class="unstyled">
              <small>Management</small>
              Account
            </a>
          </h2>

          <div class="card--with-icon__divider">
            <i class="fa fa-id-badge"></i>
          </div>

          <nav>
            <a href="/account/overview">Overview</a>
            <a href="/account/guides">Guides</a>
            <a href="/account/building-blocks">Building Blocks</a>
            <br>
            <hr>
            <a href="/api/account">API Reference</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
