<h1>Documentation</h1>

<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.</p>

<h2>Documentation Types</h2>

<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>

<div class="row">
  <div class="columns small-12 medium-6">
    <h4>Overviews</h4>
    <hr
    <p>Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
  </div>

  <div class="columns small-12 medium-6">
    <h4>Guides</h4>
    <hr
    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
  </div>
</div>
<div class="row">
  <div class="columns small-12 medium-6">
    <h4>Building Blocks</h4>
    <hr
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. </p>
  </div>

  <div class="columns small-12 medium-6 end">
    <h4>API Reference</h4>
    <hr
    <p>Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum.</p>
  </div>
</div>

<h2>Products</h2>

<div class="row">
  <div class="columns small-12">

    <br>

    <a name="products"></a>

    <div class="row">
      <div class="columns small-12 medium-6">
        <div class="card card--with-icon card--sms">
          <h2>
            <a href="/messaging/sms/overview" class="unstyled">
              <small>Send and receive</small>
              SMS
            </a>
          </h2>

          <div class="card--with-icon__divider">
            <i class="fa fa-comments-o"></i>
          </div>

          <nav>
            <a href="/messaging/sms/overview">Overview</a>
            <a href="/messaging/sms/guides">Guides</a>
            <a href="/messaging/sms/building-blocks">Building Blocks</a>
            <a href="/messaging/sms/tutorials">Tutorials</a>
            <hr>
            <a href="/api/">API Reference</a>
          </nav>
        </div>
      </div>
      <div class="columns small-12 medium-6">
        <div class="card card--with-icon card--voice">
          <h2>
            <a href="/voice/overview" class="unstyled">
              <small>Programmable</small>
              Voice
            </a>
          </h2>

          <div class="card--with-icon__divider">
            <i class="fa fa-microphone"></i>
          </div>

          <nav>
            <a href="/voice/">Overview</a>
            <a href="/voice/guides">Guides</a>
            <a href="/voice/building-blocks">Building Blocks</a>
            <a href="/voice/tutorials">Tutorials</a>
            <hr>
            <a href="/api/">API Reference</a>
          </nav>
        </div>
      </div>
      <div class="columns small-12 medium-6">
        <div class="card card--with-icon card--verify">
          <h2>
            <a href="#" class="unstyled">
              <small>User Authentication</small>
              Verify
            </a>
          </h2>

          <div class="card--with-icon__divider">
            <i class="fa fa-key"></i>
          </div>

          <nav>
            <a href="/verify">Overview</a>
            <a href="/verify/guides/verify-a-user">Guides</a>
            <a href="/verify/building-blocks">Building Blocks</a>
            <a href="/verify/tutorials">Tutorials</a>
            <hr>
            <a href="/api/verify">API Reference</a>
          </nav>
        </div>
      </div>
      <div class="columns small-12 medium-6">
        <div class="card card--with-icon card--number-insight">
          <h2>
            <a href="#" class="unstyled">
              <small>User Identity</small>
              Number insight
            </a>
          </h2>

          <div class="card--with-icon__divider">
            <i class="fa fa-eye"></i>
          </div>

          <nav>
            <a href="#">Overview</a>
            <a href="#">Guides</a>
            <a href="#">Building Blocks</a>
            <a href="#">Tutorials</a>
            <hr>
            <a href="/api/">API Reference</a>
          </nav>
        </div>
      </div>
      <div class="columns small-12 medium-6 end">
        <div class="card card--with-icon card--account">
          <h2>
            <a href="#" class="unstyled">
              <small>Management</small>
              Account
            </a>
          </h2>

          <div class="card--with-icon__divider">
            <i class="fa fa-id-badge"></i>
          </div>

          <nav>
            <a href="/account/overview">Overview</a>
            <a href="/account/guides">Guides</a>
            <a href="/account/building-blocks">Building Blocks</a>
            <br>
            <hr>
            <a href="/api/account">API Reference</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
