<div class="container">

  <div class="row">
    <div class="center">
      <h1 class="Vlt-title--margin-top2">Connected Code</h1>
      <p class="p-large">Everything you need to build connected applications with Nexmo</p>
    </div>
    <div class="columns small-12">
      <a name="products"></a>

      <%= render 'products' %>

      <hr class="hr--tall">
      <div class="Vlt-grid">
        <div class="Vlt-col Vlt-col--M-1of2">
          <div class="center">
            <h2>
              <a href="/tools">
                <div><svg class="Vlt-icon Vlt-icon--large Vlt-blue-dark"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-design-tools"/></svg></div>
                SDKs &amp; Tools
              </a>
            </h2>
            <p>The Nexmo libraries allow you to get up and running with<br>Nexmo APIs quickly in your language of choice.</p>
          </div>
        </div>
        <div class="Vlt-col Vlt-col--M-1of2">
          <div class="center">
            <h2>
              <a href="/community">
                <div><svg class="Vlt-icon Vlt-icon--large Vlt-blue-dark"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-group"/></svg></div>
                Community
              </a>
            </h2>
            <p>Find out about our talks, community hacks,<br>and what events we'll be at.</p>
          </div>
        </div>
      </div>

      <hr class="hr--tall">

      <div class="center">
        <h3>Do you have a question?</h3>
        <p class="p-large">We're always here to help. Check out our <a href="https://help.nexmo.com">support FAQs</a>, contact our super helpful <a href="https://help.nexmo.com/hc/en-us/requests/new">support team</a> or get in touch on <a href="http://stackoverflow.com/questions/tagged/nexmo">Stack Overflow</a>.<br />Your data will be treated in accordance with our <a href="https://www.nexmo.com/privacy-policy">Privacy Policy</a>, which sets out the rights you have in respect of your data.</p>
      </div>
    </div>
  </div>
</div>
