<div class="row">
  <div class="colums small-12 large-9 large-centered">
    <center>
      <img src="/assets/images/lost.svg" alt="" width="120">
      <h2>Legacy Documentation</h2>
      <br>
      <hr">
    </center>

    <%= @content.html_safe %>
  </div>
</div>
