<div class="row">
  <div>
    <center>
      <img src="/assets/images/lost.svg" alt="" width="120">
      <h2>Legacy Documentation</h2>
      <br>
      <hr class="hr--tall" />
    </center>

    <%= @content.html_safe %>
  </div>
</div>
