<div class="container">
  
  <div class="row">
    <div class="columns small-offset-2 small-8 center spacious">

      <h1>Migrate from Tropo to Nexmo</h1>
      <small>In case you have not seen it, please review our <a href="https://www.nexmo.com/blog/2018/10/15/nexmo-welcomes-tropo-customers/">migration program post</a>,<br /> which includes 10% off your monthly usage fee for the first three months</small>
      <br />
      <br />
      <p>
        As of October 2018, Tropo have started a phased shutdown of their services.
        This means that you're looking for another communications provider the SMS and Voice functionality within your applications. This guide will help you with that migration.
      </p>

    </div>
  </div>

  <div class="row">
    <div class="columns small-offset-2 small-8">

        <hr>
        <br />
        <div class="center">
          <h1>Get Started</h1>

          <p>Get started with the Nexmo platform in four steps:</p>
          <br />
        </div>

        <h2>1. Register for a Nexmo account</h2>
      <p>Sign up for a Nexmo account. Once you've signed up you'll receive €2 free credit which is enough to get started. We're offering a migration package to Tropo customers, including 10% off your monthly usage fee for the first three months and free migration support from our renowned customer support team. See our <a href="https://www.nexmo.com/blog/2018/10/15/nexmo-welcomes-tropo-customers/">migration blog post</a> for more information</p>

        <div class="center">
          <a role="link" aria-label="Try it free" class="Vlt-btn Vlt-btn--primary Vlt-btn--large" href="https://dashboard.nexmo.com/sign-up?ref=tropo-migrate">Sign Up</a>
        </div>

        <br />

        <h2>2. Purchase a phone number</h2>
        <p>Head over to the <a href="https://dashboard.nexmo.com/buy-numbers">Nexmo dashboard</a> and purchase a virtual number to use for your application. You may not need it if you're in a country that supports alpha senders - search for your destination country on the <a href="https://help.nexmo.com/hc/en-us">knowledge base</a> for more information.</p>
      <p>If you've already got a US or Canadian number and would like to keep it, you can port the number to Nexmo <a href="https://dashboard.nexmo.com/keep-your-number">using the Nexmo dashboard</a>. To check the feasibility of porting numbers outside of US and Canada, please contact <a href="mailto:support@nexmo.com?subject=Tropo Migration: Port number request">support@nexmo.com</a></p> <br />

        <h2>3. Install the Nexmo Client Library</h2>
        <p>Nexmo provides client libraries in six different languages! Whether you write Javascript, PHP, Python, Java, .NET or Ruby, we've got you covered. Head over to the <a href="/tools">tools page</a> to learn more about what's available.</p>

        <br />

        <h2>4. Develop your application</h2>
        <p>Finally, it's time to build your application! We've put together some examples for common tasks involving SMS and voice calls based on the Tropo documentation.</p>

        <br />
        <div class="columns small-12 medium-6 content-block">
          <div class="center">
            <h4>Migrate from Tropo SMS</h4><br />
            <h3>
              <a href="/migrate/tropo/sms">
                <i class="icon icon-sms"></i>
                SMS
              </a>
            </h3>
          </div>
        </div>
        <div class="columns small-12 medium-6 content-block">
          <div class="center">
            <h4>Migrate from Tropo Voice</h4><br />
            <h3>
              <a href="/migrate/tropo/voice">
                <i class="icon icon-voice"></i>
                Voice
              </a>
            </h3>
          </div>
        </div>
      </div>

      <br />
    
  </div>

  <div class="row">
    <hr>
    <br />

    <div class="center">
      <h1>FAQ</h1>
      <br />
    </div>

    <div class="columns small-offset-1">

      <h2>Nexmo vs Tropo - Main differences</h2>

      <div class="Vlt-table Vlt-table--data Vlt-table--bordered">
      <table>
        <thead>
        <tr>
          <th>Tropo</th>
          <th>Nexmo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>The Tropo scripting API allows you to store code inside a Tropo application and trigger that code via a web request</td>
          <td>Code runs on your own server, talking directly to the Nexmo platform</td>
        </tr>
        <tr>
          <td>Any metadata available is stored in the session metadata</td>
          <td>Nexmo sends metadata as GET parameters to your webhook endpoint. Common parameters include <code>to</code>, <code>msisdn</code> and <code>text</code></td>
        </tr></tbody>
      </table>
      </div>
      <br />

    </div>

  </div>

  <div class="row">
    <br />
    <hr>

    <div class="center spacious content-block">
        <h3>Do you have any questions?</h3>
        <p>We're always here to help. Check out our <a href="https://help.nexmo.com">support FAQs</a>, contact our super helpful <a href="https://help.nexmo.com/hc/en-us/requests/new">support team</a> or get in touch on <a href="http://stackoverflow.com/questions/tagged/nexmo">Stack Overflow</a>.<br />Your data will be treated in accordance with our <a href="https://www.nexmo.com/privacy-policy">Privacy Policy</a>, which sets out the rights you have in respect of your data.</p>
    </div>
  </div>

</div>
