<div class="center spacious">
  <h1>
      <i class="icon icon--large icon-community"></i><br><br>
      Nexmo Developer Relations Team
  </h1>

  <br>

  <h4>
    Our mission is to build a world-class open source documentation platform to help developers build connected products.
    <br><br>
    Here are some of the people behind Nexmo Developer.
  </h4>

  <br>

  <div class="avatar-grid">
    <% @team.shuffle.each do |member| %>
      <%= render partial: 'profile', locals: member.symbolize_keys %>
    <% end %>
  </div>

  <h2 class="spacious"><b>Contributors</b></h2>

  <p>Many of the improvements made to Nexmo Developer have come from our wonderful community.</p>
  <p>Check out our <a href="https://github.com/Nexmo/nexmo-developer/graphs/contributors">Contributors</a> page on GitHub.</p>

  <br><br>

  <h2><b>Join the team</b></h2>

  <p>If what we are building sounds interesting to you please see our open positions and get in touch with us at <a href="mailto:devrel@nexmo.com">devrel@nexmo.com</a>.</p>

  <br>

  <div class="row">
    <div class="columns small-12 medium-8 large-6 medium-centered">
      <div class="box">
        <h2>
          <i class="icon icon--large icon-book"></i><br><br>
          Technical Writer
        </h2>
        <div class="left spacious">
          <p>Technical Writers at Nexmo help author high-quality developer-focused documentation and work with the Developer Relations team to define and ensure documentation standards (style, tone of voice etc.) are adhered to within Nexmo Developer.</p>
          <p>As a technical writer at Nexmo you will work as part of the Developer Relations team to create new content, update and improve existing content, and ensure Nexmo Developer is an amazing resource offering a great developer experience. You’ll be working as part of a remote-first team, however would require you to be in London 2 to 3 days a week.</p>
        </div>
        <a href="https://nexmo.bamboohr.co.uk/jobs/view.php?id=339" class="button">Find out more</a>
      </div>
    </div>
  </div>

</div>
