<div class="center spacious">
  <h1>
      <i class="icon icon--large icon-community"></i><br><br>
      Nexmo Developer Relations Team
  </h1>

  <br>

  <h4>
    Our mission is to build a world-class open source documentation platform to help developers build connected products.
    <br><br>
    Here are some of the people behind Nexmo Developer. Oh, and <a href="#join">we're hiring</a>.
  </h4>

  <br>

  <div class="avatar-grid">
    <% @team.shuffle.each do |member| %>
      <%= render partial: 'profile', locals: member.symbolize_keys %>
    <% end %>
  </div>

  <h2 class="spacious"><b>Contributors</b></h2>

  <p>Many of the improvements made to Nexmo Developer have come from our wonderful community.</p>
  <p>Check out our <a href="https://github.com/Nexmo/nexmo-developer/graphs/contributors">Contributors</a> page on GitHub.</p>

  <br><br>

  <h2 id="join"><b>Join the team</b></h2>

  <p>If what we are building sounds interesting to you please see our open positions and get in touch with us at <a href="mailto:devrel@nexmo.com">devrel@nexmo.com</a>.</p>

  <br>

  <div class="jobs">
    <div class="jobs__job box">
      <h2>
        <i class="icon icon--large icon-community"></i><br><br>
        Community Manager
        <br><br><i><small class="subtle">London or San Francisco</small></i>
      </h2>
      <div class="left spacious">
        <p>A core responsibility of the Nexmo Developer Relations team is to meet developers where they are. This means engaging, supporting and working within developer communities.</p>
        <p>As a Community Manager at Nexmo, your main responsibilities will be to work with developer advocates to identify key developer communities and community leaders in order establish relationships, understand their needs and build a collaborative environment to ensure we are equipped to authentically and effectively serve them.</p>
      </div>
      <a href="mailto:devrel@nexmo.com?subject=Community Manager role" class="button">Find out more</a>
    </div>

    <div class="jobs__job box">
      <h2>
        <i class="icon icon--large icon-java"></i><br><br>
        Java Developer Advocate
        <br><br><i><small class="subtle">Remote (GMT -8 to GMT +1)</small></i>
      </h2>
      <div class="left spacious">
        <p>Developer Advocates at Nexmo specialise in a specific language community (Java, JavaScript .NET, PHP, Python, Ruby etc.), platform (Amazon, Google, Microsoft, IBM etc.) or technology trend (AI, Bots, Communications etc.) to ensure we truly understand the technology and can authentically serve that community.</p>
        <p>As a Java Developer Advocate at Nexmo, your main responsibilities will be to build relationships within technology communities through learning, creating, sharing, and helping others. You will be the interface between developer communities, with a focus on Java technologies, and the Nexmo product teams to ensure that Nexmo continues to build products that provide a great developer experience. You will demonstrate the benefits of communications functionality and inspire others to innovate with them.</p>
      </div>
      <a href="https://nexmo.bamboohr.co.uk/jobs/view.php?id=387" class="button">Find out more</a>
    </div>

    <div class="jobs__job box">
      <h2>
        <i class="icon icon--large icon-voice"></i><br><br>
        Communications Developer Advocate
        <br><br><i><small class="subtle">Remote (GMT -8 to GMT +1)</small></i>
      </h2>
      <div class="left spacious">
        <p>Developer Advocates at Nexmo specialise in a specific language community (Java, JavaScript .NET, PHP, Python, Ruby etc.), platform (Amazon, Google, Microsoft, IBM etc.) or technology trend (AI, Bots, Communications etc.) to ensure we truly understand the technology and can authentically serve that community.</p>
        <p>As a Communications Developer Advocate at Nexmo, your main responsibilities will be to build relationships and support technology communities through learning, creating, sharing, and helping others. You will be the interface between developer communities and the Nexmo product teams to ensure that Nexmo continues to build innovative products that provide a great developer experience.  You will demonstrate the benefits of communications functionality and inspire others to innovate with them with a focus on messaging and voice in combination with Amazon Lex, Google Cognitive Services, Microsoft Cognitive Services and IBM Watson.</p>
      </div>
      <a href="mailto:devrel@nexmo.com?subject=Communications Developer Advocate role" class="button">Find out more</a>
    </div>

    <div class="jobs__job box">
      <h2>
        <i class="icon icon--large icon-book"></i><br><br>
        Technical Writer
        <br><br><i><small class="subtle">London (2-3 days a week)</small></i>
      </h2>
      <div class="left spacious">
        <p>Technical Writers at Nexmo help author high-quality developer-focused documentation and work with the Developer Relations team to define and ensure documentation standards (style, tone of voice etc.) are adhered to within Nexmo Developer.</p>
        <p>As a technical writer at Nexmo you will work as part of the Developer Relations team to create new content, update and improve existing content, and ensure Nexmo Developer is an amazing resource offering a great developer experience. You’ll be working as part of a remote-first team, however would require you to be in London 2 to 3 days a week.</p>
      </div>
      <a href="https://nexmo.bamboohr.co.uk/jobs/view.php?id=339" class="button">Find out more</a>
    </div>

    <div class="jobs__job box">
      <h2>
        <i class="icon icon--large icon-account"></i><br><br>
        Product Manager
        <br><br><i><small class="subtle">London (2-3 days a week)</small></i>
      </h2>
      <div class="left spacious">
        <p>The Developer Relations team at Nexmo, The Vonage API Platform, are key contributors and stakeholders in the overall developer experience offered by our platform. Since 2016 we've been stewards of Nexmo Developer (this site), the <a href="https://developer.nexmo.com/tools">API libraries</a>, <a href="https://github.com/Nexmo/api-specification">API definitions & guidelines</a> and the product lifecycle. In 2018 the team is growing to enable us to address additional areas where developer experience really matters.</p>
        <p>As a Product Manager you will be a combination of product owner and project manager. You'll take ownership of a new developer experience initiative and work with the owners of Nexmo Developer, libraries, tools, other developer relations initiatives and other Product teams to ensure cross-functional teams are aligned. You must have empathy for developers and experience, passion and drive to build exceptional developer tooling and experiences.</p>
      </div>
      <a href="mailto:devrel@nexmo.com?subject=Product Manager role" class="button">Find out more</a>
    </div>

    <div class="jobs__job box">
      <h2>
        <i class="icon icon--large icon-code"></i><br><br>
        Full Stack Engineer
        <br><br><i><small class="subtle">London (2-3 days a week)</small></i>
      </h2>
      <div class="left spacious">
        <p>The Developer Relations team at Nexmo, The Vonage API Platform, are key contributors and stakeholders in the overall developer experience offered by our platform. Since 2016 we have been stewards of Nexmo Developer (this site), the <a href="https://developer.nexmo.com/tools">API libraries</a>, <a href="https://github.com/Nexmo/api-specification">API definitions & guidelines</a> and the product lifecycle. In 2018 the team is growing to enable us to address additional areas where developer experience really matters.</p>
        <p>At Nexmo we have an array of powerful products that enable developers to integrate communications features into their apps using our APIs, libraries and SDKs. We’re looking for a full stack engineer to collaborate with product, engineering, developer relations and support teams to help us continue to build successful and innovative products that offer an amazing developer experience.</p>
      </div>
      <a href="" class="button">Find out more</a>
    </div>

    <div class="jobs__job box">
      <h2>
        <i class="icon icon--large icon-code"></i><br><br>
        UI Engineer
        <br><br><i><small class="subtle">London (2-3 days a week)</small></i>
      </h2>
      <div class="left spacious">
        <p>The Developer Relations team at Nexmo, The Vonage API Platform, are key contributors and stakeholders in the overall developer experience offered by our platform. Since 2016 we have been stewards of Nexmo Developer (this site), the <a href="https://developer.nexmo.com/tools">API libraries</a>, <a href="https://github.com/Nexmo/api-specification">API definitions & guidelines</a> and the product lifecycle. In 2018 the team is growing to enable us to address additional areas where developer experience really matters.</p>
        <p>As a UI Engineer at Nexmo, the Vonage API Platform as part of the Developer Experience and Relations team your main responsibilities will be to work with the UX team and product stakeholders to enable the creation of world class user experiences. Initially focusing on the developer persona and expanding to other personas longer-term.</p>
      </div>
      <a href="mailto:devrel@nexmo.com?subject=UI Engineer" class="button">Find out more</a>
    </div>

  </div>

  <h2 class="spacious">Internships</h2>

  <div class="row">
    <div class="columns small-12 medium-6">
      <div class="box">
        <h2>
          <i class="icon icon--large icon-code"></i><br><br>
          Developer Relations Intern
          <br><br><i><small class="subtle">San Francisco</small></i>
        </h2>
        <div class="left spacious">
          <p>Developer Advocates at Nexmo specialise in a specific language community (Java, JavaScript .NET, PHP, Python, Ruby etc.), platform (Amazon, Google, Microsoft, IBM etc.) or technology trend (AI, Bots, Communications etc.) to ensure we truly understand the technology and can authentically serve that community.</p>
          <p>As the Nexmo Developer Relations Intern, you’ll join a team of passionate software engineers who are focused on helping customers succeed on our platform during a 10-12 week period. Interns will gain valuable experience in engineering, public speaking, technical writing, support, and more. Interns will also have the opportunity to travel to events with the team to see how we interact with various communities.</p>
        </div>
        <a href="https://nexmo.bamboohr.co.uk/jobs/view.php?id=352" class="button">Find out more</a>
      </div>
    </div>

    <div class="columns small-12 medium-6">
      <div class="box">
        <h2>
          <i class="icon icon--large icon-code"></i><br><br>
          Developer Relations Intern
          <br><br><i><small class="subtle">London</small></i>
        </h2>
        <div class="left spacious">
          <p>Developer Advocates at Nexmo specialise in a specific language community (Java, JavaScript .NET, PHP, Python, Ruby etc.), platform (Amazon, Google, Microsoft, IBM etc.) or technology trend (AI, Bots, Communications etc.) to ensure we truly understand the technology and can authentically serve that community.</p>
          <p>As the Nexmo Developer Relations Intern, you’ll join a team of passionate software engineers who are focused on helping customers succeed on our platform during a 10-12 week period. Interns will gain valuable experience in engineering, public speaking, technical writing, support, and more. Interns will also have the opportunity to travel to events with the team to see how we interact with various communities.</p>
        </div>
        <a href="https://nexmo.bamboohr.co.uk/jobs/view.php?id=371" class="button">Find out more</a>
      </div>
    </div>
  </div>
</div>
