
<h2>SDKs & Libraries</h2>

<p>The Nexmo libraries allow you to get up an running with Nexmo API quickly in your language of choice.</p>

<div class="Vlt-grid Vlt-grid--margin-top3">
  <div class="Vlt-col Vlt-col--1of3">
    <a href="https://github.com/Nexmo/nexmo-ruby" class="Vlt-card Nxd-github-card" data-github="Nexmo/nexmo-ruby">
      <h3 class="Vlt-blue-dark">nexmo-ruby</h3>
      <p>Nexmo REST API client for Ruby</p>
      <img src="//badge.fury.io/rb/nexmo.svg" class="Nxd-github-card__badge" height="18">
      <p>
        <small class="Nxd-github-card__meta">
          <span>
            <span class="Vlt-red-dark">●</span> Ruby
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-star-full"/></svg>
            <span data-stars>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-fork"/></svg>
            <span data-forks>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
        </small>
      </p>
    </a>
  </div>

  <div class="Vlt-col Vlt-col--1of3">
    <a href="https://github.com/Nexmo/nexmo-php" class="Vlt-card Nxd-github-card" data-github="Nexmo/nexmo-php">
      <h3 class="Vlt-blue-dark">nexmo-php</h3>
      <p>Nexmo REST API client for PHP</p>
      <img src="//badge.fury.io/ph/nexmo%2Fclient.svg" class="Nxd-github-card__badge" height="18">
      <p>
        <small class="Nxd-github-card__meta">
          <span>
            <span class="Vlt-blue-dark">●</span> PHP
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-star-full"/></svg>
            <span data-stars>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-fork"/></svg>
            <span data-forks>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
        </small>
      </p>
    </a>
  </div>

  <div class="Vlt-col Vlt-col--1of3">
    <a href="https://github.com/Nexmo/nexmo-python" class="Vlt-card Nxd-github-card" data-github="Nexmo/nexmo-python">
      <h3 class="Vlt-blue-dark">nexmo-python</h3>
      <p>Nexmo REST API client for Python</p>
      <img src="//badge.fury.io/py/nexmo.svg" class="Nxd-github-card__badge" height="18">
      <p>
        <small class="Nxd-github-card__meta">
          <span>
            <span class="Vlt-blue-darker">●</span> Python
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-star-full"/></svg>
            <span data-stars>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-fork"/></svg>
            <span data-forks>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
        </small>
      </p>
    </a>
  </div>

  <div class="Vlt-col Vlt-col--1of3">
    <a href="https://github.com/Nexmo/nexmo-dotnet" class="Vlt-card Nxd-github-card" data-github="Nexmo/nexmo-dotnet">
      <h3 class="Vlt-blue-dark">nexmo-dotnet</h3>
      <p>Nexmo REST API client for .NET</p>
      <img src="//badge.fury.io/nu/nexmo.svg" class="Nxd-github-card__badge" height="18">
      <p>
        <small class="Nxd-github-card__meta">
          <span>
            <span class="Vlt-green-dark">●</span> C#
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-star-full"/></svg>
            <span data-stars>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-fork"/></svg>
            <span data-forks>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
        </small>
      </p>
    </a>
  </div>

  <div class="Vlt-col Vlt-col--1of3">
    <a href="https://github.com/Nexmo/nexmo-node" class="Vlt-card Nxd-github-card" data-github="Nexmo/nexmo-node">
      <h3 class="Vlt-blue-dark">nexmo-node</h3>
      <p>Nexmo REST API client for Node.js</p>
      <img src="//badge.fury.io/js/nexmo.svg" class="Nxd-github-card__badge" height="18">
      <p>
        <small class="Nxd-github-card__meta">
          <span>
            <span class="Vlt-yellow">●</span> JavaScript
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-star-full"/></svg>
            <span data-stars>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-fork"/></svg>
            <span data-forks>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
        </small>
      </p>
    </a>
  </div>

  <div class="Vlt-col Vlt-col--1of3">
    <a href="https://github.com/Nexmo/nexmo-java" class="Vlt-card Nxd-github-card" data-github="Nexmo/nexmo-java">
      <h3 class="Vlt-blue-dark">nexmo-java</h3>
      <p>Nexmo REST API client for Java</p>
      <img src="//badge.fury.io/gh/nexmo%2Fnexmo-java.svg" class="Nxd-github-card__badge" height="18">
      <p>
        <small class="Nxd-github-card__meta">
          <span>
            <span class="Vlt-orange-dark">●</span> Java
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-star-full"/></svg>
            <span data-stars>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-fork"/></svg>
            <span data-forks>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
        </small>
      </p>
    </a>
  </div>
</div>

<hr>
<br>

<h2>Nexmo CLI</h2>

<p>You use the Nexmo Command Line Interface (CLI) to manage your Nexmo account and use Nexmo products from the command line.</p>

<div class="Vlt-grid Vlt-grid--margin-top3">
  <div class="Vlt-col Vlt-col--1of3">
    <a href="https://github.com/Nexmo/nexmo-cli" class="Vlt-card Nxd-github-card" data-github="Nexmo/nexmo-cli">
      <h3 class="Vlt-blue-dark">nexmo-cli</h3>
      <p>Nexmo CLI (Command Line Interface) </p>
      <img src="//badge.fury.io/js/nexmo-cli.svg" class="Nxd-github-card__badge" height="18">
      <p>
        <small class="Nxd-github-card__meta">
          <span>
            <span class="Vlt-yellow">●</span> JavaScript
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-star-full"/></svg>
            <span data-stars>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-fork"/></svg>
            <span data-forks>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
        </small>
      </p>    
    </a>
  </div>
</div>

<hr>
<br>

<h2>Framework Libraries</h2>

<p>The Nexmo framework libraries can get you up and running with the Nexmo APIs quickly and easily in your framework of choice.</p>

<div class="Vlt-grid Vlt-grid--margin-top3">

  <div class="Vlt-col Vlt-col--1of3">
    <a href="https://github.com/Nexmo/nexmo-laravel" class="Vlt-card Nxd-github-card" data-github="Nexmo/nexmo-laravel">
      <h3 class="Vlt-blue-dark">nexmo-laravel</h3>
      <p>Nexmo framework library for Laravel</p>
      <img src="//badge.fury.io/ph/nexmo%2Flaravel.svg" class="Nxd-github-card__badge" height="18">
      <p>
        <small class="Nxd-github-card__meta">
          <span>
            <span class="Vlt-blue-dark">●</span> PHP
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-star-full"/></svg>
            <span data-stars>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-fork"/></svg>
            <span data-forks>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
        </small>
      </p>
    </a>
  </div>

   <div class="Vlt-col Vlt-col--1of3">
    <a href="https://github.com/Nexmo/nexmo-rails" class="Vlt-card Nxd-github-card" data-github="Nexmo/nexmo-rails">
      <h3 class="Vlt-blue-dark">nexmo_rails</h3>
      <p>Nexmo framework library for Rails</p>
      <img src="//badge.fury.io/rb/nexmo_rails.svg" class="Nxd-github-card__badge" height="18">
      <p>
        <small class="Nxd-github-card__meta">
          <span>
            <span class="Vlt-red-dark">●</span> Ruby
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-star-full"/></svg>
            <span data-stars>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
          <span>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-fork"/></svg>
            <span data-forks>
              <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
            </span>
          </span>
        </small>
      </p>
    </a>
  </div>

  <div class="Vlt-col Vlt-col--1of3">
  <a href="https://github.com/Nexmo/nexmo-spring-boot-starter" class="Vlt-card Nxd-github-card" data-github="Nexmo/nexmo-spring-boot-starter">
    <h3 class="Vlt-blue-dark">nexmo-spring-boot-starter</h3>
    <p>Nexmo starter and auto configuration for Spring Boot</p>
    <img src="//badge.fury.io/gh/nexmo%2Fnexmo-spring-boot-starter.svg" class="Nxd-github-card__badge" height="18">
    <p>
      <small class="Nxd-github-card__meta">
        <span>
          <span class="Vlt-orange-dark">●</span> Java
        </span>
        <span>
          <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-star-full"/></svg>
          <span data-stars>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
          </span>
        </span>
        <span>
          <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-fork"/></svg>
          <span data-forks>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-icon--text-bottom Vlt-grey-darker" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-more"/></svg>
          </span>
        </span>
      </small>
    </p>
  </a>
</div>
  
</div>

<hr>
<br>
