@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <h1>Number Insight</h1>
    <hr style="height:2px;border:none;color:#333;background-color:black" />
    <h2>@Html.ActionLink("Basic", "Basic", "NumberInsight")</h2>
    <h2>@Html.ActionLink("Standard", "Standard", "NumberInsight")</h2>
</div>