<div class="Vlt-grid Vlt-article container">
  <div class="Vlt-col">
    <h1 class="Vlt-title--icon">
      <svg class="Vlt-blue"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-rocket"></use></svg>
      Write for Nexmo
    </h1>
    <p>
    Teach others, grow as a writer, and help us build the next go-to destination for developers in search of <a target="_blank" href="https://www.nexmo.com/blog/category/developer/">high quality technical content</a> and inspiring development stories.
    </p>

    <a class="Vlt-btn Vlt-btn--primary" href="#submit-your-idea">
      Apply Now
    </a>
  </div>
  <div class="Vlt-col Vlt-col--2of3">
      <img src="/assets/images/developer_spotlight.png" />
  </div>

  <hr class="hr--tall">

  <div class="Vlt-col">
    <h2 class="Vlt-title--icon">
      <svg class="Vlt-yellow"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-app"></use></svg>
      Examples
    </h2>

    <a href="https://www.nexmo.com/blog/2019/01/23/how-to-send-sms-from-a-spreadsheet-dr/">
      <img src="https://www.nexmo.com/wp-content/uploads/2019/01/New-spreadsheet-who-dis-768x384.png" />
    </a>

    <br /><br /><br />

    <a href="https://www.nexmo.com/blog/2018/11/15/pycascades-code-of-conduct-hotline-nexmo-voice-api-dr/">
      <img src="https://www.nexmo.com/wp-content/uploads/2018/11/PyCascades-CoC-Hotline-768x384.png" />
    </a>

    <br /><br /><br />

    <a href="https://www.nexmo.com/blog/2018/11/13/queue-notifications-nexmo-laravel-horizon-dr/">
      <img src="https://www.nexmo.com/wp-content/uploads/2018/11/Queue-wait-time-notifications-768x384.png" />
    </a>

    <br /><br /><br />

    <a href="https://www.nexmo.com/blog/2018/03/14/speech-voice-translation-microsoft-dr/">
      <img src="https://www.nexmo.com/wp-content/uploads/2018/03/babel-fish-tutorial-1200x600.png" />
    </a>

  </div>

  <div class="Vlt-col">
    <h2 class="Vlt-title--icon">
      <svg class="Vlt-blue"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-search"></use></svg>
      What We're Looking For
    </h2>
    <p class="p-large">
      We're interested in both technical tutorials and general pieces on programming. Successful submissions will be:
    </p>
    <p>
      <strong>Original</strong>. Literally, we want original work (nothing that has been published elsewhere). And more figuratively, we want to see original thought and interesting points of view we can't find anywhere else.
    </p>
    <p>
      <strong>Well-written</strong>. Our standards are high, and we want everything published on our blog to meet those standards. That said, you don't have to be a professional writer to submit! If the post is original, helpful and interesting, our editorial team is happy to work with you to get it publication ready.
    </p>

    <h2 class="Vlt-title--icon">
      <svg class="Vlt-blue"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-user"></use></svg>
      What's in it for You?
    </h2>
    <p class="p-large">
      We pay $400 USD per post. Your tutorial will be published on our blog, and may be shared in our newsletter or showcased as part of our "Tutorial Tuesday" weekly feature.
    </p>
    <p>
      We make every effort to amplify the reach of each and every blog post on our site, and yours will be no exception; you'll have the Nexmo marketing and social media teams behind you getting the word out about your work. Your success is our success.
    </p>

    <h2 class="Vlt-title--icon">
      <svg class="Vlt-blue"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-gear"></use></svg>
      The Process
    </h2>
    <p class="p-large">
      When we receive your submission, our editorial team will evaluate it to see if it's a good fit for the Nexmo blog.
    </p>
    <p>
      Submission is not a guarantee that your work will be published; we reserve the right to decline submissions that aren't right for our platform. But we really want to help you get published so if you take the time to submit, we will review your work and provide feedback. Our goal is simple: we want to see what you're doing with Nexmo's products, and we want you to share your story with the community.
    </p>
    <p>
      We'll be in touch to let you know if we want to publish your post and tell you what the next steps are.
    </p>

    <h2 class="Vlt-title--icon">
      <svg class="Vlt-blue"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-merge"></use></svg>
      Who Owns Your Work?
    </h2>
    <p class="p-large">
      You do! You grant Nexmo an unlimited license to publish and promote your post, but you retain full ownership.
    </p>
    <p>
      This means you are free to re-publish elsewhere (on your own Medium page, for example). All we require is that you add a <code>rel=canonical</code> tag to your post wherever possible, naming the original post at Nexmo the canonical URL.
    </p>

    <h2 class="Vlt-title--icon" id="submit-your-idea">
      <svg class="Vlt-blue"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-envelope"></use></svg>
      Submit Your Idea
    </h2>
    <p class="p-large">
    Before you start writing, <a href="mailto:devrel@nexmo.com?subject=Developer Spotlight Submission">email us</a> and tell us about your idea. If it’s not what we’re looking for, we’ll let you know and might be able to suggest an alternative approach
    </p>
    <p>
      In your email to us:
    </p>
    <ul class="Vlt-list Vlt-list--square">
        <li>Tell us who you are and why you want to write for Nexmo</li>
        <li>Briefly summarise your idea and state why it’s something our audience will benefit from hearing about</li>
        <li>Include links to samples of your writing (such as blog posts or articles)</li>
    </ul>
  </div>
</div>
