<div class="container">

  <div class="row">
    <div class="center">
      <h1 class="Vlt-title--margin-top2">Default Entry Page</h1>
      <p class="p-large">This is the default landing page for a developer portal running on Station.</p>
    </div>
    <div class="columns small-12">
      <a name="products"></a>

      <%= render 'products' %>

      <hr class="hr--tall">
      <div class="Vlt-grid">
        <div class="Vlt-col Vlt-col--M-1of2">
          <div>
            <h2>
              <a href="/tools">
                <div><svg class="Vlt-icon Vlt-icon--large Vlt-purple-dark"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-design-tools"/></svg></div>
                Featured Topic 1
              </a>
            </h2>
            <p>You can choose to highlight an area of your portal on the landing page.</p>
          </div>
        </div>
        <div class="Vlt-col Vlt-col--M-1of2">
          <div>
            <h2>
              <a href="/community">
                <div><svg class="Vlt-icon Vlt-icon--large Vlt-purple-dark"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-group"/></svg></div>
                Featured Topic 2
              </a>
            </h2>
            <p>You can highlight more than one area.</p>
          </div>
        </div>
      </div>

      <hr class="hr--tall">

      <div class="center">
        <h3>Modifying This Content</h3>
        <p class="p-large">To modify this content you can copy <a href="https://raw.githubusercontent.com/Nexmo/station/master/lib/nexmo_developer/app/views/static/landing.html.erb">this file</a> to the `custom/views/static` folder in your documentation folder and modify that copy. More detailed instructions to create your own landing page can be found on the <a href="https://nexmo.github.io/station/How-To-Use#customization-options">Station documentation</a>.</p>
      </div>
    </div>
  </div>
</div>
