<br>
<div class="Vlt-grid">
  <div class="Vlt-col">
    <center>
      <h1>Nexmo ❤️ community</h1>
      <h2>Here are some of the events we've been proud to support in the past:</h2>
    </center>
    <br>
    <hr class="hr--mini">
  </div>
</div>

<div class="Vlt-grid">
  <%= render partial: 'event', collection: @past_events %>
</div>

<p class="center">
  <%= link_to "View upcoming events", '/community' %>
</p>
