@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Verify</h1>
<hr style="height:2px;border:none;color:#333;background-color:black" />
<h2>@Html.ActionLink("Start Verification", "Start", "Verify")</h2>
<h2>@Html.ActionLink("Search Verification", "Search", "Verify")</h2>
<h2>@Html.ActionLink("Cancel Verification", "Cancel", "Verify")</h2>
<h2>@Html.ActionLink("Trigger next verification process", "TriggerNext", "Verify")</h2>