#department-filter,
#location-filter {
  width: 200px;

  .Vlt-btn--tertiary {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .Vlt-checkbox {
    width: 100%;
    height: 100%;
  }
}
#careers {
  .Vlt-empty {
    height: inherit;
    width: inherit;
  }

  tr.striped {
    background-color: $grey-light;
  }

  tbody td {
    width: 33%;
  }
}
