#footer {
  background: $black;
  border-radius: 4px;
  color: rgba($white, 0.7);
  padding: $spacing*2 0 $spacing;
  margin-top: $spacing;
  line-height: 1.8;
  z-index: 2;
  flex: 0 0 100%;
  width: 100%;

  .container {
    display: flex;
    flex-wrap: wrap;

    > div {
      flex: 3;
      margin-right: 2.5%;
      min-width: 150px;
      margin-bottom: $spacing;
    }

    #footer-support {
      flex: 2;
    }

    #footer-outbound-links {
      flex: 4;
      min-width: 260px;
      text-align: center;

      h5 {
        margin-bottom: 0px;
      }

      .Nxd-api-badge {
        background: $grey-darker !important;
      }

      a {
        display: flex;
      }
    }

    @include tablet {
      > div {
        flex-grow: 1.45;
      }

      #footer-support {
        flex: 3;
      }

      #footer-outbound-links {
        border-top: 1px solid $gray;
        margin-top: $spacing;
        flex: none;
        width: 100%;
      }
    }
  }

  h5 {
    color: $white;
  }

  a {
    color: rgba($white, 0.7);
    font-size: 1.4rem;
    display: block;

    &:hover {
      color: $white;
    }
  }
}

#footer-logo {
  margin: 0 auto $spacing;
  max-width: 350px;

  .Nxd-product__separator {
    margin: 0 10px;
  }

  .Nxd-product__title {
    align-items: baseline;
  }

  .Nxd-logo__image {
    width: 44%;
  }
}

#footer-copyright {
  a {
    border-bottom: 1px dotted lighten($atom, 20%);
  }
}

#footer-social-links {
  text-align: center;
  font-size: 24px;
  display: flex;
  margin-top: 20px;
  justify-content: center;

  a {
    margin: 0 10px;
    display: inline-block;
  }
}
