<% unless @categories_with_blogposts.present? %>

  <div class="Vlt-callout Vlt-callout--warning">
    <i></i>
    <div class="Vlt-callout__content">
      No Blogpost available
    </div>
  </div>

<% else %>


  <div class="max-w-screen-xl mx-auto">

    <div class="hr--tall Vlt-text-separator Vlt-text-separator--big" style="opacity: .6; letter-spacing: .1em;">
      <span>LATEST POSTS</span>
    </div>

    <div class="my-2col-grid">
        <%= render partial: 'blog/blogpost/blogpost_with_image', collection: @latest_blogposts, as: :blogpost %>
    </div>


  <% @categories_with_blogposts.each do |category| %>
    
    <div class="hr--tall Vlt-text-separator Vlt-text-separator--big" style="opacity: .6; letter-spacing: .1em;">
      <span>< <%= category.plural.upcase %> /></span>
    </div>

    <div class="my-3col-grid">

      <% category.blogposts.compact.in_groups(3) do |blogposts| %>
            <%# cache blogpost do %>
              <%= render partial: 'blog/blogpost/blogpost', collection: @latest_blogposts, as: :blogpost, locals: { show_category_label: false } %>
            <%# end %>
      <% end %>

    </div>


  <% end # @categories_with_blogposts.each %> 

    

  </div>

<% end %>