<% unless @data.count.positive? %>

  <div class="Vlt-callout Vlt-callout--warning">
    <i></i>
    <div class="Vlt-callout__content">
      No Blogpost available
    </div>
  </div>

<% else %>


  <div class="max-w-screen-xl mx-auto">

    <div class="hr--tall Vlt-text-separator Vlt-text-separator--big" style="opacity: .6; letter-spacing: .1em;">
      <span>LATEST POSTS</span>
    </div>

    <div class="my-2col-grid">
      <% @latest_blogposts.each do |blogpost| %>
        <%= render partial: 'blog/blogpost/blogpost_with_image', locals: { blogpost: blogpost } %>
      <% end %>
    </div>


  <% @categories.each do |category| %>
    
    <div class="hr--tall Vlt-text-separator Vlt-text-separator--big" style="opacity: .6; letter-spacing: .1em;">
      <span>< <%= category.plural.upcase %> /></span>
    </div>

    <div class="my-3col-grid">

      <% category.blogposts.in_groups(3) do |blogposts| %>
          <% blogposts.compact.each do |blogpost| %>
            <%# cache blogpost do %>
              <%= render partial: 'blog/blogpost/blogpost', locals: { blogpost: blogpost, show_category_label: false } %>
            <%# end %>
          <% end %>
      <% end %>

    </div> <!-- <div class="my-3col-grid"> -->


  <% end %>

    

  </div>

<% end %>