$icon-java: "\e909";
$icon-dotnet: "\e90a";
$icon-php: "\e90b";
$icon-ruby: "\e90c";
$icon-python: "\e90d";
$icon-node: "\e90e";
$icon-in-app-video: "\e914";
$icon-in-app-messaging: "\e910";
$icon-in-app-voice: "\e911";
$icon-stitch-messaging: "\e912";
$icon-stitch: "\e913";
$icon-webhook: "\e90f";
$icon-account: "\e904";
$icon-voice: "\e905";
$icon-verify: "\e906";
$icon-sms: "\e907";
$icon-number-insight: "\e908";
$icon-swagger: "\e902";
$icon-swagger-o: "\e903";
$icon-community: "\e901";
$icon-toolbox: "\e900";
$icon-star: "\f005";
$icon-close: "\f00d";
$icon-remove: "\f00d";
$icon-times: "\f00d";
$icon-cog: "\f013";
$icon-gear: "\f013";
$icon-book: "\f02d";
$icon-pencil: "\f040";
$icon-times-circle: "\f057";
$icon-check-circle: "\f058";
$icon-thumbs-o-up: "\f087";
$icon-thumbs-o-down: "\f088";
$icon-external-link: "\f08e";
$icon-twitter: "\f099";
$icon-github: "\f09b";
$icon-chain: "\f0c1";
$icon-link: "\f0c1";
$icon-cloud: "\f0c2";
$icon-linkedin: "\f0e1";
$icon-angle-left: "\f104";
$icon-angle-right: "\f105";
$icon-spinner: "\f110";
$icon-code: "\f121";
$icon-code-fork: "\f126";
$icon-chevron-circle-right: "\f138";
$icon-stack-overflow: "\f16c";
$icon-slack: "\f198";
$icon-loop: "\ea2d";
$icon-callback: "\ea2d";

@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?vz4q9h');
  src:  url('/assets/fonts/icomoon.eot?vz4q9h#iefix') format('embedded-opentype'),
        url('/assets/fonts/icomoon.ttf?vz4q9h') format('truetype'),
        url('/assets/fonts/icomoon.woff?vz4q9h') format('woff'),
        url('/assets/fonts/icomoon.svg?vz4q9h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--large {
  font-size: 1.33333333em;
  line-height: .75em;
  line-height: .75em;
  vertical-align: -15%;
}

.icon-java {
  &:before {
    content: $icon-java;
  }
}
.icon-dotnet {
  &:before {
    content: $icon-dotnet;
  }
}
.icon-php {
  &:before {
    content: $icon-php;
  }
}
.icon-ruby {
  &:before {
    content: $icon-ruby;
  }
}
.icon-python {
  &:before {
    content: $icon-python;
  }
}
.icon-node {
  &:before {
    content: $icon-node;
  }
}
.icon-in-app-messaging {
  &:before {
    content: $icon-in-app-messaging;
  }
}
.icon-in-app-voice {
  &:before {
    content: $icon-in-app-voice;
  }
}
.icon-in-app-video {
  &:before {
    content: $icon-in-app-video;
  }
}
.icon-stitch-messaging {
  &:before {
    content: $icon-stitch-messaging;
  }
}
.icon-stitch {
  &:before {
    content: $icon-stitch;
  }
}
.icon-webhook {
  &:before {
    content: $icon-webhook;
  }
}
.icon-account {
  &:before {
    content: $icon-account;
  }
}
.icon-voice {
  &:before {
    content: $icon-voice;
  }
}
.icon-verify {
  &:before {
    content: $icon-verify;
  }
}
.icon-sms {
  &:before {
    content: $icon-sms;
  }
}
.icon-number-insight {
  &:before {
    content: $icon-number-insight;
  }
}
.icon-swagger {
  &:before {
    content: $icon-swagger;
  }
}
.icon-swagger-o {
  &:before {
    content: $icon-swagger-o;
  }
}
.icon-community {
  &:before {
    content: $icon-community;
  }
}
.icon-toolbox {
  &:before {
    content: $icon-toolbox;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-remove {
  &:before {
    content: $icon-remove;
  }
}
.icon-times {
  &:before {
    content: $icon-times;
  }
}
.icon-cog {
  &:before {
    content: $icon-cog;
  }
}
.icon-gear {
  &:before {
    content: $icon-gear;
  }
}
.icon-book {
  &:before {
    content: $icon-book;
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}
.icon-times-circle {
  &:before {
    content: $icon-times-circle;
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle;
  }
}
.icon-thumbs-o-up {
  &:before {
    content: $icon-thumbs-o-up;
  }
}
.icon-thumbs-o-down {
  &:before {
    content: $icon-thumbs-o-down;
  }
}
.icon-external-link {
  &:before {
    content: $icon-external-link;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}
.icon-chain {
  &:before {
    content: $icon-chain;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left;
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.icon-spinner {
  &:before {
    content: $icon-spinner;
  }
}
.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-code-fork {
  &:before {
    content: $icon-code-fork;
  }
}
.icon-chevron-circle-right {
  &:before {
    content: $icon-chevron-circle-right;
  }
}
.icon-stack-overflow {
  &:before {
    content: $icon-stack-overflow;
  }
}
.icon-slack {
  &:before {
    content: $icon-slack;
  }
}
.icon-loop {
  &:before {
    content: $icon-loop;
  }
}
.icon-callback {
  &:before {
    content: $icon-callback;
  }
}
