* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $ice;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > .container {
    flex: 1;
  }
}

.wrapper {
  flex: 1;
}

.container {
  max-width: 1240px;
  padding: 0 $spacing;
  margin: auto;
}

img {
  max-width: 100%;
}
