* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $ice;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > .container {
    flex: 1;
  }
}

.wrapper {
  flex: 1;
}

.container {
  max-width: 1300px;
  padding: 0 $spacing;
  margin: auto;
}

.row {
  max-width: 1300px;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

img {
  max-width: 100%;
}

table {
  margin-bottom: $spacing;
  border: $border;
  border-radius: $radius;
  box-shadow: $shadow-soft;
  overflow: hidden;

  thead {
    color: $white;
    background: $blue;
  }

  tbody tr:nth-child(even) {
    background: mix($ice, $mint);
  }

  th {
    padding: $spacing/2 $spacing;
    font-weight: 600;
  }

  td {
    padding: $spacing;
    border-bottom: $border;
    line-height: 1.5em;
  }

  tr:last-child td {
    border-bottom: none;
  }

  code {
    white-space: nowrap;
  }
}

table, td, th { border-collapse:separate; }
table { border-spacing: 0px }

hr {
  border: none;
  border-top: 2px solid darken($mint, 3%);

  &.hr--mini {
    width: 150px;
  }
}

.spacious {
  padding: $spacing*2 0;
}
