* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $ice;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > .container {
    flex: 1;
  }
}

.wrapper {
  flex: 1;
  transition: filter 400ms ease-in-out;

  &--tint {
    background: $ice;
  }

  &--blur {
    filter: blur(3px);

    @include mobile {
      filter: none;
    }
  }
}

.container {
  max-width: 1300px;
  padding: 0 $spacing;
  margin: auto;
}

.row {
  max-width: 1300px;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

img {
  max-width: 100%;
}

table {
  margin-bottom: $spacing;
  border: $border;
  border-radius: $radius;
  box-shadow: $shadow-soft;

  thead {
    color: $white;
    background: $blue;
  }

  thead {
    th:first-child {
      border-top-left-radius: $radius;
    }

    th:last-child {
      border-top-right-radius: $radius;
    }

    a {
        color: white;
    }
  }

  tbody tr:nth-child(even) {
    background: mix($ice, $mint);
  }

  th {
    padding: $spacing/2 $spacing;
    font-weight: 600;
  }

  td {
    padding: $spacing;
    border-bottom: $border;
    line-height: 1.5em;
  }

  code {
    white-space: nowrap;
  }

  .icon-check-circle, .icon-times-cirle {
    align-self: center;
  }
}

table, td, th { border-collapse:separate; }
table { border-spacing: 0px }

hr {
  border: none;
  border-top: 2px solid darken($mint, 3%);

  &.hr--mini {
    width: 150px;
  }

  &.spacious {
    margin: $spacing 0;
    padding: 0;
  }
}

.spacious {
  padding: $spacing*2 0;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

@keyframes spin {
  0%   {-webkit-transform: rotate(0deg)}
  100% {-webkit-transform: rotate(359deg)}
}

.spinner {
  width: 100%;
  margin: $spacing*2 0;
  text-align: center;
  animation: spin 1.2s infinite ease-in-out;
  i {
    font-size: 40px;
    color: $mint;
  }
}

.flex {
  display: flex;
}

.flex--auto {
  > * { flex: 1; }
}

.hide {
  display: none;
}

.grecaptcha-badge {
  display: none;
}

.float-right {
  float: right;
}
