* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $ice;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > .container {
    flex: 1;
  }
}

.wrapper {
  flex: 1;
}

.container {
  max-width: 1240px;
  padding: 0 $spacing;
  margin: auto;
}

img {
  max-width: 100%;
}

table {
  margin-bottom: $spacing;
  border: 3px solid $blue;
  border-radius: 3px;

  thead {
    color: $white;
    background: $blue;
  }

  tbody tr:nth-child(even) {
    background: mix($ice, $mint);
  }

  td {
    border-bottom: 3px solid $mint;
    padding: $spacing;
    line-height: 1.5em;
  }
}

table, td, th {border-collapse:separate}
table { border-spacing: 0px }
