@font-face {
    font-family: 'Averta';
    src: font-url('intelligent_design_-_averta-light-webfont.woff2') format('woff2'),
         font-url('intelligent_design_-_averta-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: font-url('intelligent_design_-_averta-regular-webfont.woff2') format('woff2'),
         font-url('intelligent_design_-_averta-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: font-url('intelligent_design_-_averta-regularitalic-webfont.woff2') format('woff2'),
         font-url('intelligent_design_-_averta-regularitalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: font-url('intelligent_design_-_averta-semibold-webfont.woff2') format('woff2'),
         font-url('intelligent_design_-_averta-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: font-url('intelligent_design_-_averta-bold-webfont.woff2') format('woff2'),
         font-url('intelligent_design_-_averta-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
  font-family: 'Averta', sans-serif;
  color: $text;
  font-size: 16px;
  line-height: 1.5;

  @include mobile {
    font-size: 0.9em;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: $spacing * 0.5;
}

h1, h2, h3, h4 {
  color: $stone-dark;
  font-weight: 500;

  &.light {
    font-weight: normal;
  }
}

h1 {
  font-size: 36px;
  line-height: 36px;

  @include mobile {
    font-size: 24px;
    line-height: 24px;
  }
}

h2 {
  font-size: 24px;
  line-height: 24px;

  @include mobile {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-size: 20px;
  line-height: 20px;

  @include mobile {
    font-size: 18px;
    line-height: 18px;
  }
}

h4 {
  font-size: 18px;
  line-height: 18px;

  @include mobile {
    font-size: 15px;
    line-height: 15px;
  }
}


p {
  line-height: 1.6;
}

ul, ol, p, h1, h2, h3, h4, h5, h6, table {
  code {
    padding: 0 5px;
    display: inline-block;
    border: $border;
    color: $pink;
    background: $white;
    border-radius: 5px;
    margin: 0 2px;
  }

  a code {
    &:after {
      font: normal normal normal 14px/1 icomoon;
      content: "\f138";
      margin-left: 5px;
      font-size: 0.8em;
      color: $stone-light;
    }
  }

  tbody tr:nth-child(even) code {
    background: $ice;
  }

  pre code {
    display: inline;
    border: none;
    color: inherit;
    background: none;
    padding: 0;
    margin: 0;
    border-radius: none;
  }

  a {
    border-bottom: 1px dotted;

    &.unstyled {
      border: none;
    }
  }
}

a {
  text-decoration: none;
  color: $link;
  cursor: pointer;

  &:hover {
    color: $link-hover;
  }

  nav &, h1 & {
    border-bottom: none;
  }

  .icon-external-link {
    font-size: 0.7em;
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

pre.highlight {
  background: $code-background;
  padding: $spacing;
  color: $white;
  margin-bottom: $spacing;
  line-height: 1.35;
  overflow: auto;
  position: relative;
  border-radius: 3px;
}

pre {
  font-family: Consolas, monospace;
  font-size: 16px;
}

.gutter {
  color: #5f697c;
  text-align: right;
  padding-right: 5px;
  user-select: none;
}

.active {
  color: $blue;
}

blockquote {
  background: $white;
  box-shadow: $shadow-soft;
  border: $shadow;
  border-left: 5px solid $pink;
  padding: $spacing * 0.75;
  font-style: italic;
  margin-bottom: $spacing;
  margin-top: $spacing;
  font-size: 15px;
  border-radius: 3px;

  p {
    margin: 0;
  }

  code {
    font-style: normal;
  }
}

.reveal-overlay {
  background: rgba($mint, 0.4);
}

.reveal {
  border-radius: 3px;
  outline: none;
  border: $border;
  box-shadow: $shadow;
  font-size: 0.85em;

  table td {
    padding: $spacing / 2;
  }
}


#primary-content {
  h1, h2, h3, h4, h5, h6 {
    color: darken($text, 5%);
    position: relative;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 40px;
    font-weight: 600;
  }

  .card h2 {
    margin-top: 0;
  }

  li ul, li ol {
    margin-top: 5px;
  }

  ul {
    margin-bottom: 15px;
  }

  ul li {
    font-size: 1em;
    margin-bottom: 5px;
  }

  .tight {
    margin: 0;
  }
}

.label {
  background: $primary;
  color: $white;
  font-weight: 700;
  padding: 2px 5px 1px 5px;
  font-size: 13px;
  border-radius: 4px;
  text-align: center;

  background: $blue;
  border-color: $blue;
  .navigation & { color: mix($blue, $background, 80%); }

  &--code {
    font-family: Consolas, monospace;
    font-size: 15px;
    padding: 4px 5px 1px 5px;

    .navigation & {
      font-size: 12px;
      padding: 2px 2px 0 2px;
      position: absolute;
      right: 100%;
      margin-right: 5px;
      border-width: 2px;
      background: none;
      opacity: 0.6;
    }

    .navigation .active & {
      opacity: 1;
    }
  }

  &--positive {
    background: $positive;
    border-color: $positive;
    .navigation & { color: mix($positive, $background, 80%); }
  }

  &--negative {
    background: $negative;
    border-color: $negative;
    .navigation & { color: mix($negative, $background, 80%); }

  }

  &--warning {
    background: $warning;
    border-color: $warning;
    .navigation & { color: mix($warning, $background, 80%); }

  }
}

.tight {
  margin: 0;
}

.heading-permalink {
  position: absolute;
  padding: 5px 8px;
  left: -28px;
  top: -4px;
  font-size: 15px;
  border: none;
  color: $stone-light;
  opacity: 0;
  transition: opacity 100ms ease-in-out;

  &:hover {
    color: $blue;
  }

  h1:hover &, h2:hover &, h3:hover &, h4:hover &, h5:hover &, h6:hover & {
    opacity: 1;
  }
}

.color-text {
  color: $text;
}

.color--warn {
  color: $orange;
}

.color--error {
  color: $red;
}

.color--success {
  color: $green;
}

.meta {
  display: block;
  color: mix($stone, $stone-light);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  color: $text-subtle;
  border-bottom: 1px dotted $stone-light;
  font-size: 0.95em;
  cursor: pointer;

  &:before {
    display: none;
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 12px 10px;
    border-color: transparent transparent $atom transparent;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -12px;
  }

  &:after {
    display: none;
    content: attr(data-text);
    pointer-events: none;
    background: $atom;
    color: $white;
    padding: $spacing / 2;
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: 10px;
    text-align: center;
    z-index: 2;
  }

  &:hover, &:focus {
    outline: none;
    color: $pink;
    border-bottom-color: $pink;
    &:before, &:after {
      display: block;
    }
  }
}

.flash {
  font-size: 1.2em;
  margin: $spacing 0;
  color: $pink;
}
