@font-face {
    font-family: 'Averta';
    src: font-url('intelligent_design_-_averta-light-webfont.woff2') format('woff2'),
         font-url('intelligent_design_-_averta-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: font-url('intelligent_design_-_averta-regular-webfont.woff2') format('woff2'),
         font-url('intelligent_design_-_averta-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: font-url('intelligent_design_-_averta-regularitalic-webfont.woff2') format('woff2'),
         font-url('intelligent_design_-_averta-regularitalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: font-url('intelligent_design_-_averta-semibold-webfont.woff2') format('woff2'),
         font-url('intelligent_design_-_averta-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: font-url('intelligent_design_-_averta-bold-webfont.woff2') format('woff2'),
         font-url('intelligent_design_-_averta-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
  font-family: 'Averta', sans-serif;
  color: $text;
  font-size: 17px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: $spacing;
}

h1, h2, h3, h4 {
  color: $stone-dark;
  font-weight: 500;

  &.light {
    font-weight: normal;
  }
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 17px;
}

p {
  line-height: 1.6;
}

ul, ol, p, h1, h2, h3, h4, h5, h6 {
  code {
    padding: 0 4px;
    display: inline-block;
    border: 1px solid $mint;
    color: $blue;
    background: $white;
    border-radius: 5px;
  }
}

a {
  text-decoration: none;
  color: $link;
  cursor: pointer;
  border-bottom: 1px dotted;

  nav &, h1 & {
    border-bottom: none;
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

pre.highlight {
  background: $code-backgound;
  padding: $spacing;
  color: $white;
  margin-bottom: $spacing;
  line-height: 1.35;
  overflow: auto;
  position: relative;
}

pre {
  font-family: Consolas, monospace;
  font-size: 16px;
}

.gutter {
  color: #5f697c;
  text-align: right;
  padding-right: 5px;
  user-select: none;
}

.active {
  color: $blue;
}

blockquote {
  background: $white;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.04);
  border-left: 5px solid $pink;
  padding: $spacing * 0.75;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 3px;

  p {
    margin: 0;
  }

  code {
    color: $text;
  }
}

.reveal {
  font-size: 0.85em;

  table td {
    padding: $spacing / 2;
  }
}


#primary-content {
  li ul, li ol {
    margin-top: 5px;
  }

  ul {
    margin-bottom: 15px;
  }

  ul li {
    font-size: 1em;
    margin-bottom: 5px;
  }
}

.label {
  background: $primary;
  color: $white;
  font-weight: 700;
  padding: 2px 5px 1px 5px;
  font-size: 13px;
  border-radius: 4px;
  text-align: center;

  background: $primary;
  border-color: $primary;
  .navigation & { color: mix($primary, $background, 80%); }

  &--code {
    font-family: Consolas, monospace;
    font-size: 15px;
    padding: 4px 5px 1px 5px;

    .navigation & {
      font-size: 12px;
      padding: 2px 2px 0 2px;
      position: absolute;
      right: 100%;
      margin-right: 5px;
      border-width: 2px;
      background: none;
    }
  }

  &--positive {
    background: $positive;
    border-color: $positive;
    .navigation & { color: mix($positive, $background, 80%); }
  }

  &--negative {
    background: $negative;
    border-color: $negative;
    .navigation & { color: mix($negative, $background, 80%); }

  }

  &--warning {
    background: $warning;
    border-color: $warning;
    .navigation & { color: mix($warning, $background, 80%); }

  }
}
