ul, ol, p, h1, h2, h3, h4, h5, h6, table {
  /* a code {
    &:after {
      content: "";
      background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3Csvg%20fill%3D%22#117bb8%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2024%2024%22%20style%3D%22enable-background%3Anew%200%200%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20id%3D%22path-1_1_%22%20d%3D%22M11.5%2C6.8c-0.3%2C0.3-0.7%2C0.3-0.9%2C0c-0.3-0.3-0.3-0.7%2C0-0.9l3.2-3.2c2.1-2.1%2C5.5-2.1%2C7.6%2C0%0D%0A%09c2.1%2C2.1%2C2.1%2C5.5%2C0%2C7.6L17%2C14.6c-2.1%2C2.1-5.5%2C2.1-7.6%2C0c-0.5-0.5-0.9-1.2-1.2-1.9c-0.1-0.3%2C0-0.7%2C0.4-0.8c0.3-0.1%2C0.7%2C0%2C0.8%2C0.4%0D%0A%09c0.2%2C0.5%2C0.5%2C1%2C0.9%2C1.4c1.6%2C1.6%2C4.2%2C1.6%2C5.7%2C0l4.4-4.4c1.6-1.6%2C1.6-4.2%2C0-5.7c-1.6-1.6-4.2-1.6-5.7%2C0L11.5%2C6.8z%20M12.3%2C17.4%0D%0A%09c0.3-0.3%2C0.7-0.3%2C0.9%2C0s0.3%2C0.7%2C0%2C0.9l-3.1%2C3.1c-2.1%2C2.1-5.5%2C2.1-7.6%2C0c-2.1-2.1-2.1-5.5%2C0-7.6L7%2C9.4c2.1-2.1%2C5.5-2.1%2C7.6%2C0%0D%0A%09c0.5%2C0.5%2C1%2C1.2%2C1.2%2C1.9c0.1%2C0.3%2C0%2C0.7-0.4%2C0.8s-0.7%2C0-0.8-0.4c-0.2-0.5-0.5-1-0.9-1.4c-1.6-1.6-4.2-1.6-5.7%2C0l-4.4%2C4.4%0D%0A%09c-1.6%2C1.6-1.6%2C4.2%2C0%2C5.7c1.6%2C1.6%2C4.2%2C1.6%2C5.7%2C0L12.3%2C17.4z%22%2F%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20id%3D%22path-1_2_%22%20d%3D%22M11.5%2C6.8c-0.3%2C0.3-0.7%2C0.3-0.9%2C0c-0.3-0.3-0.3-0.7%2C0-0.9l3.2-3.2c2.1-2.1%2C5.5-2.1%2C7.6%2C0%0D%0A%09%09c2.1%2C2.1%2C2.1%2C5.5%2C0%2C7.6L17%2C14.6c-2.1%2C2.1-5.5%2C2.1-7.6%2C0c-0.5-0.5-0.9-1.2-1.2-1.9c-0.1-0.3%2C0-0.7%2C0.4-0.8c0.3-0.1%2C0.7%2C0%2C0.8%2C0.4%0D%0A%09%09c0.2%2C0.5%2C0.5%2C1%2C0.9%2C1.4c1.6%2C1.6%2C4.2%2C1.6%2C5.7%2C0l4.4-4.4c1.6-1.6%2C1.6-4.2%2C0-5.7c-1.6-1.6-4.2-1.6-5.7%2C0L11.5%2C6.8z%20M12.3%2C17.4%0D%0A%09%09c0.3-0.3%2C0.7-0.3%2C0.9%2C0s0.3%2C0.7%2C0%2C0.9l-3.1%2C3.1c-2.1%2C2.1-5.5%2C2.1-7.6%2C0c-2.1-2.1-2.1-5.5%2C0-7.6L7%2C9.4c2.1-2.1%2C5.5-2.1%2C7.6%2C0%0D%0A%09%09c0.5%2C0.5%2C1%2C1.2%2C1.2%2C1.9c0.1%2C0.3%2C0%2C0.7-0.4%2C0.8s-0.7%2C0-0.8-0.4c-0.2-0.5-0.5-1-0.9-1.4c-1.6-1.6-4.2-1.6-5.7%2C0l-4.4%2C4.4%0D%0A%09%09c-1.6%2C1.6-1.6%2C4.2%2C0%2C5.7c1.6%2C1.6%2C4.2%2C1.6%2C5.7%2C0L12.3%2C17.4z%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A');
      height: 12px;
      width: 12px;
      background-size: contain;
      display: inline-block;
      margin-left: $unit0;
      vertical-align: middle;
    }
  } */

  pre code {
    display: inline;
    border: none;
    color: inherit;
    background: none;
    padding: 0;
    margin: 0;
    border-radius: none;
  }
}

a {
  nav &, h1 & {
    border-bottom: none;
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.indent {
  margin-left: $spacing * 1.5;
}

pre.highlight {
  background: $black;
  -webkit-font-smoothing: antialiased;
  padding: $spacing;
  color: $white;
  margin-bottom: $spacing;
  line-height: 1.35;
  overflow: auto;
  position: relative;
  border-radius: 4px;

  code {
    color: $grey-light;
  }
}

pre {
  font-family: Consolas, monospace;
  font-size: 16px;
}

.gutter {
  color: #5f697c;
  text-align: right;
  padding-right: 5px;
  user-select: none;
}

.active {
  color: $blue-dark;
}

.reveal-overlay {
  background: rgba($mint, 0.4);
}

.reveal {
  border-radius: 3px;
  outline: none;
  border: $border;
  box-shadow: $shadow;
  font-size: 0.85em;

  table td {
    padding: $spacing / 2;
  }
}


.Nxd-article {

  li ul, li ol {
    margin-top: 5px;
  }

  ul {
    margin-bottom: 15px;
  }

  ul li {
    font-size: 1em;
    margin-bottom: 5px;
  }

  .tight {
    margin: 0;
  }
}

.tight {
  margin: 0;
}

.color-text {
  color: $text;
}

.color--warn {
  color: $orange;
}

.color--error {
  color: $red;
}

.color--success {
  color: $green;
}

.meta {
  display: block;
  color: mix($stone, $stone-light);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  color: $text-subtle;
  border-bottom: 1px dotted $stone-light;
  font-size: 0.95em;
  cursor: pointer;

  &:before {
    display: none;
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 12px 10px;
    border-color: transparent transparent $atom transparent;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -12px;
  }

  &:after {
    display: none;
    content: attr(data-text);
    pointer-events: none;
    background: $atom;
    color: $white;
    padding: $spacing / 2;
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: 10px;
    text-align: center;
    z-index: 2;
  }

  &:hover, &:focus {
    outline: none;
    color: $pink;
    border-bottom-color: $pink;
    &:before, &:after {
      display: block;
    }
  }
}

.flash {
  font-size: 1.2em;
  margin: $spacing 0;
  color: $pink;
}

.version {
  margin-top: $spacing * 2;
}

.api-path {
  display: block;
  border: 2px solid $mint;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: $spacing;
  font-size: 1.2em;
  background: $white;

  .api-path-parameter {
    color: $pink;
  }

  .api-path-method {
    display: inline-block;
    font-family: Consolas, monospace;
    color: $blue-dark;
    background: mix($blue-dark, $white, 5%);
    border-right: 1px solid mix($blue-dark, $white, 15%);
    margin-right: 10px;
    font-weight: 700;
    padding: 6px $spacing 3px $spacing;

    &--post {
      color: $green;
      background: mix($green, $white, 5%);
      border-right: 1px solid mix($green, $white, 15%);
    }

    &--delete {
      color: $red;
      background: mix($red, $white, 5%);
      border-right: 1px solid mix($red, $white, 15%);
    }

    &--update {
      color: $orange;
      background: mix($orange, $white, 5%);
      border-right: 1px solid mix($orange, $white, 15%);
    }
  }

  .api-path-host {
    margin-right: -10px;
    color: mix($text-subtle, $gray-light);
  }
}

.api-reference {
  b {
    color: $text-subtle;
  }
}

.flag {
  text-transform: uppercase;
  font-size: 0.82em;
  font-weight: 600;
  color: $blue-dark;

  &--strong {
    color: $red;
  }
}

.subtle {
  color: $text-subtle;
}

.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
