@import "reset";

$blue: #0077C8;
$blue-light: #00bfff;
$pink: #E6547B;
$purple: #936FD2;
$green: #32BA86;
$orange: #f6a85a;
$peach: #F88175;
$red: #ea5353;
$ice: #f9fbfd;
$mint: #E4EEF3;
$atom: #282c34;

$white: #fff;
$gray: #A1A1A1;
$gray-light: lighten($gray, 25%);
$stone-light: #93B6C7;
$stone: #224E66;
$stone-dark: #193c56;
$gray-dark: #252A2D;
$black: #1A1E20;

$sms: #936FD2;
$number-insight: #32BA86;
$voice: #F88175;
$chat: #CA579C;
$verify: #6b85d2;

$primary: $pink;
$link: $blue;
$link-hover: $blue-light;
$link-subtle: desaturate(lighten($link, 25%), 65%);
$positive: $green;
$negative: $red;
$warning: $orange;
$background: $ice;
$text: $stone;
$text-subtle: desaturate(lighten($text, 15%), 20%);
$code-background: $atom;

$spacing: 20px;
$radius: 3px;
$radius-top: $radius $radius 0 0;
$radius-bottom: 0 0 $radius $radius;
$shadow-soft: 0 2px 14px 0 rgba(0, 0, 0, 0.04);
$shadow: 0 2px 14px 0 rgba(0,0,0,0.12);
$shadow-hard: 0 1px 8px 0 rgba(0,0,0,0.30);

$border: 1px solid darken($mint, 5%);

@import "mixins";

@import "core";
@import "typography";
@import "icons";
@import "syntax";

@import "objects/button";
@import "objects/card";
@import "objects/collapsible";
@import "objects/content-block";
@import "objects/focus";
@import "objects/forms";
@import "objects/github-cards";
@import "objects/js-sequence-diagram";
@import "objects/masonry";
@import "objects/navigation";
@import "objects/notices";
@import "objects/tabs";
@import "objects/truncate";
@import "objects/loading-bar";
@import "objects/video";

@import "layout/community";
@import "layout/header";
@import "layout/hero";
@import "layout/feedback";
@import "layout/footer";
@import "layout/search";
