<br>
<hr>

<% if Rails.env.production? %>
  <iframe
    src="https://feedbot-nexmo-developer.herokuapp.com/feedbacks/new?source=<%= request.base_url + request.fullpath %>"
    id="feedback" height="300" style="width: 100%;" frameBorder="0"
  ></iframe>
<% else %>
  <br>
  <p><i>The feedback tool is disabled in <%= Rails.env %></i></p>
<% end %>
