<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="columns small-6">
        <div id="footer-copyright">
          &copy; <%= Time.current.year %> <a href="https://www.nexmo.com" target="_blank">Nexmo</a>
          &bull; <%= link_to "Contribute", contribute_path %>
          &bull; <%= link_to "Legacy Documentation", legacy_path %>
        </div>
      </div>
      <div class="columns small-6">
        <div id="footer-links">
          <a href="/slack" class="footer-link" target="_blank"><i class="icon icon-slack"></i></a>
          <a href="https://twitter.com/nexmo" class="footer-link" target="_blank"><i class="icon icon-twitter"></i></a>
          <a href="https://github.com/nexmo" class="footer-link" target="_blank"><i class="icon icon-github"></i></a>
          <a href="http://stackoverflow.com/questions/tagged/nexmo" class="footer-link" target="_blank"><i class="icon icon-stack-overflow"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
