<footer id="footer">
  <div class="container">
    <div id="footer-outbound-links">


    <div class="Nxd-logo Vlt-white" id="footer-logo">
      <a href="/" id="logo" class="Nxd-logo__image">
        <%= image_tag asset_pack_path('media/logos/Vonage-wordmark--white.svg'), alt: 'Vonage Logo' %>
      </a>
      <hr class="Nxd-product__separator">
      <div class="Nxd-product__title">
        <h5 class="Vlt-white">API Developer</h5>
        <small>Nexmo is now Vonage</small>
      </div>
    </div>

      <a href="https://www.nexmostatus.com/" target="_blank" class="Vlt-badge-combined">
        <span class="Vlt-badge Vlt-white Nxd-api-badge">API Status</span><span class="Vlt-badge Vlt-badge--purple Nxd-api-status">Loading</span>
      </a>

      <div id="footer-social-links">
        <a href="https://www.linkedin.com/company/vonage/" class="footer-link" target="_blank"><i class="icon icon-linkedin"></i></a>
        <a href="/slack" class="footer-link" target="_blank"><i class="icon icon-slack"></i></a>
        <a href="https://twitter.com/vonage" class="footer-link" target="_blank"><i class="icon icon-twitter"></i></a>
        <a href="https://github.com/nexmo" class="footer-link" target="_blank"><i class="icon icon-github"></i></a>
        <a href="http://stackoverflow.com/questions/tagged/nexmo" class="footer-link" target="_blank"><i class="icon icon-stack-overflow"></i></a>
      </div>
    </div>

    <div>
      <h5>Documentation</h5>
      <a href="/messaging/sms/overview">SMS</a>
      <a href="/voice/voice-api/overview">Voice</a>
      <a href="/verify/overview">Verify</a>
      <a href="/number-insight/overview">Number Insight</a>
      <a href="/account/overview">Account</a>
    </div>

    <div>
      <h5>API Reference</h5>
      <a href="/api/sms">SMS</a>
      <a href="/api/voice">Voice</a>
      <a href="/api/verify">Verify</a>
      <a href="/api/number-insight">Number Insight</a>
      <a href="/api">All APIs</a>
    </div>

    <div>
      <h5>Vonage API Developer</h5>
      <a href="/community">Community</a>
      <a href="/contribute">Contribute</a>
      <a href="/legacy">Legacy Documentation</a>
      <a href="/team">Team</a>
      <a href="/careers">Careers</a>
    </div>

    <div>
      <h5>Get to know us</h5>
      <a href="https://www.vonage.com/communications-apis/" target="_blank">Vonage API Platform</a>
      <a href="https://www.vonage.com/corporate/careers/" target="_blank">Careers</a>
      <a href="https://www.vonage.com/corporate" target="_blank">Press</a>
    </div>

    <div id="footer-support">
      <h5>Support</h5>
      <a href="https://help.nexmo.com" target="_blank">Knowledgebase</a>
      <a href="https://help.nexmo.com/hc/en-us/sections/115004147507" target="_blank">Known Issues</a>
    </div>
  </div>
</footer>
