<header id="header">
  <div class="container">
    <a href="/" id="logo">
      <span>Nexmo</span>
      Developer
    </a>

    <nav data-turbolinks="false">
      <a href="https://nexmo.com">Nexmo.com</a>
      <a href="https://nexmo.com">Support</a>
      <a href="https://nexmo.com">Sign In</a>
      <a href="https://nexmo.com">Try it free</a>
    </nav>
  </div>
</header>

<nav id="subnav">
  <div class="container">
    <a href="/" class="<%= @navigation == :documentation ? 'active' : '' %>">Documentation</a>
    <a href="/api" class="<%= @navigation == :api ? 'active' : '' %>">API Reference</a>
    <a href="#" class="<%= @navigation == :tools ? 'active' : '' %>">SDKs &amp; Tools</a>
    <a href="#" class="<%= @navigation == :community ? 'active' : '' %>">Community</a>
  </div>
</nav>
