<header id="header">
  <div class="container">
    <a href="/" id="logo">
      <span>Nexmo</span>
      Developer
    </a>

    <nav>
      <a href="https://nexmo.com">Nexmo.com</a>
      <a href="https://nexmo.com">Support</a>
      <a href="https://nexmo.com">Sign In</a>
      <a href="https://nexmo.com">Try it free</a>
    </nav>
  </div>
</header>

<nav id="subnav">
  <div class="container">
    <a href="#" class="active">Documentation</a>
    <a href="#">API Reference</a>
    <a href="#">SDKs &amp; Tools</a>
    <a href="#">Community</a>
  </div>
</nav>
