<% disabled = request.controller_class == ActionDispatch::Request::PASS_NOT_FOUND %>

<div class="Vlt-dropdown" id="locale-switcher">
  <div class="Vlt-dropdown__trigger Vlt-dropdown__trigger--btn">
    <%= button_tag type: :button, class: "Vlt-btn Vlt-btn--app Vlt-btn--secondary Vlt-btn--outline", disabled: disabled do %>
      <span class="Vlt-dropdown__selection">
        <svg class="Vlt-dropdown__link__icon"><use xlink:href="<%= asset_pack_path('media/symbol/volta-icons.svg') %>#Vlt-icon-world"/></svg>
        <span class="Nxd-locale">
          <% if I18n.locale.to_s == 'cn' %>
            简体中文
          <% else %>
            English (UK)
          <% end %>
        </span>
      </span>
    <% end %>
  </div>
  <% unless disabled %>
    <div class="Vlt-dropdown__panel">
      <div class="Vlt-dropdown__panel__content">
        <div class="Vlt-dropdown__link" data-locale="en">
          <span class="Vlt-dropdown__label">
            English (UK)
          </span>
        </div>
        <div class="Vlt-dropdown__link" data-locale="cn">
          <span class="Vlt-dropdown__label">
            简体中文
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
