<% if @notices && @notices.any? %>
  <div class="Nxd-header-notices">
    <% @notices.each do |id, config| %>
      <% if config['path'].nil? || request.path.match(Regexp.new(config['path'])) %>
        <div class="Vlt-callout Vlt-callout--shoutout" data-notice-dismissible="<%= config['dismissible'] || true %>" data-notice-id="<%= id %>">
          <i></i>
          <div class="Vlt-callout__content">
            <%= config['content'].html_safe %>
          </div>
           <% unless config['dismissible'] == false %>
              <button class="Vlt-callout__dismiss"></button>
            <% end %>
        </div>
      <% end %>
    <% end %>
<% end %>

<% if I18n.locale.to_s == 'cn' %>
  <div class="Vlt-callout Vlt-callout--shoutout">
    <i></i>
    <div class="Vlt-callout__content">
      <p>这份文档还在翻译中，预期年底前完成。欢迎您提供宝贵的意见及建议。</p>
    </div>
  </div>
<% else %>
<style>

@media only screen and (max-width: 576px) {
  .banner {
    justify-content: center;
    flex-direction: row;
  }
  .banner .Nxd-logo {
    margin-bottom: 12px;
  }

  .banner .banner-content {
    margin-bottom: 12px;
  }
}

.Vlt-main .banner {
  margin-bottom: 24px;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    background: black;
    color: white !important;
    max-width: 1200px;
    margin: auto;
    padding: 24px;
    }

    .banner .Nxd-logo {
      flex: 0 1 auto;
      margin-right: 24px;
    }

    .banner .Nxd-product__separator {
      color: white;
    }

    .banner .event-name {
      color: white;
      margin-bottom: 0;
      font-size: 2rem;
      display:block;
      font-weight: bold;
    }
    .banner small {
      margin-top: -8px;
      color: white;
      font-weight: bold;
    }

    .banner-content {
      font-size: 1.8rem;
      max-width: 700px;
    }

</style>

<div class="banner">
  <div class="Nxd-logo">
    <a href="/day" id="logo" class="Nxd-logo__image">
    <%= image_tag asset_pack_path('media/logos/vonage-logo-collapsed--white.svg'), alt:'Nexmo Developer Logo' %>

    <hr class="Nxd-product__separator">
    <div class="Vlt-black">
      <span class="event-name">Developer Day</span>
      <small>14 May 2020</small>
    </div>
    </a>
  </div>
  <div class="banner-content">
  Want to learn more about Vonage APIs and connect with other developers?<br />
    12 hours of interactive workshops, Q&A panels, networking and more
  </div>
  <div class="banner-cta">
    <a href="/day" class="Vlt-btn Vlt-btn--tertiary">Sign Up Free</a>
  </div>
  </div>
</div>
<% end %>
