<% if @notices && @notices.any? %>
  <div class="Nxd-header-notices">
    <% @notices.each do |id, config| %>
      <% if config['path'].nil? || request.path.match(Regexp.new(config['path'])) %>
        <div class="Vlt-callout Vlt-callout--shoutout" data-notice-dismissible="<%= config['dismissible'] || true %>" data-notice-id="<%= id %>">
          <i></i>
          <div class="Vlt-callout__content">
            <%= config['content'].html_safe %>
          </div>
           <% unless config['dismissible'] == false %>
              <button class="Vlt-callout__dismiss"></button>
            <% end %>
        </div>
      <% end %>
    <% end %>
<% end %>

<style>
.vonage-campus {
    background-image: url('/assets/campus/banner_background.png');
    min-height: 100px;
    margin: 10px 0;
}

.vonage-campus .campus-content{
    color: #fff;
    font-family: averta,Helvetica,"sans-serif";
    font-weight: 600;
    letter-spacing: .86px;
    line-height: 28px;
    font-size: 20px;
    max-width: 600px;
    margin:auto;
}

.campus-content a {
  color: #fff;
  font-family: averta,Helvetica,"sans-serif";
  font-weight: 600;
  letter-spacing: .86px;
  line-height: 28px;
  font-size: 20px;
  text-decoration: underline;
}
  .campus-hide-small {
    display: none !important;
  }
    .campus-logo {
      padding-top: 10px;
    }

  @media only screen and (min-width: 576px) {
    .campus-hide-small {
      display: inline !important;
    }
    .campus-logo {
      padding-top: 00px;
    }
  }

</style>

<div class="Vlt-grid Vlt-grid--middle vonage-campus Vlt-center">
  <div class="Vlt-col Vlt-col--1of4 campus-logo">
    <img src="/assets/campus/icon.svg" />
  </div>
  <div class="Vlt-col Vlt-col--M-2of4 campus-hide-small">
    <div class="campus-content">
      At Campus? Got a badge? <a target="_blank" href="https://github.com/nexmo-community/campusbadge/wiki">Get the instructions</a><br />
      Can't make it? <a target="_blank" href="https://twitter.com/search?q=%23vonagecampus">Follow along on Twitter</a>
    </div>
  </div>
  <div class="Vlt-col Vlt-col--1of4">
    <a href="/campus" class="Vlt-btn Vlt-btn--primary" target="_blank">Learn More</a></div>
</div>
  </div>
  </div>

