@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <h1>Voice</h1>
    <hr style="height:2px;border:none;color:#333;background-color:black" />
    <h2>@Html.ActionLink("Create Call", "MakeCall", "Voice")</h2>
    <h2>@Html.ActionLink("Call List", "CallList", "Voice")</h2>
    <h2>@Html.ActionLink("Get Call", "GetCall", "Voice")</h2>
</div>
