name: CI
on:
  push: {}
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-20.04
    services:
      db:
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: nexmo_developer_test
          POSTGRES_HOST_AUTH_METHOD: trust
        image: postgres:11
        ports: ['5432:5432']
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - name: Find yarn cache location
      id: yarn-cache
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - name: JS package cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.yarn-cache.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: Install packages
      run: |
        yarn install --pure-lockfile
    - name: Set up Ruby 3.0.0
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0.0
    - name: Ruby gem cache
      uses: actions/cache@v2
      with:
        path: ${{ github.workspace }}/vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - name: Install postgres headers
      run: sudo apt-get -yqq install libpq-dev
    - name: Bundle Setup
      run: |
        gem update --system 3.1.4 -N
        gem install --no-document bundler
        bundle config path ${{ github.workspace }}/vendor/bundle
      working-directory: ./lib/nexmo_developer
    - name: Bundle Install
      env:
        POSTGRES_USERNAME: postgres
      run: |
        bundle install --jobs 4 --retry 3 --deployment
      working-directory: ./lib/nexmo_developer

    - name: Precompile assets
      env:
        DOCS_BASE_PATH: ./spec/fixtures
        RAILS_SERVE_STATIC_FILES: 1
        DISABLE_SSL: 1
        RAILS_LOG_TO_STDOUT: 1
        RAILS_ENV: production
      run: bundle exec rails assets:precompile
      working-directory: ./lib/nexmo_developer

    - name: Fetch NDP
      uses: actions/checkout@master
      with:
        ref: main
        repository: nexmo/nexmo-developer
        token: ${{ secrets.GITHUB_TOKEN }}
        path: ndp
        submodules: true
    - name: Fetch VDP
      uses: actions/checkout@master
      with:
        ref: master
        repository: VonageGarage/VDP
        token: ${{ secrets.GITHUB_TOKEN }}
        path: vdp
        submodules: true
    - name: Precompile assets ENV=test
      env:
        RAILS_SERVE_STATIC_FILES: 1
        DISABLE_SSL: 1
        RAILS_LOG_TO_STDOUT: 1
        RAILS_ENV: test
      run: bundle exec rails assets:precompile
      working-directory: ./lib/nexmo_developer
    - name: Run Platform Tests
      env:
        POSTGRES_USERNAME: postgres
        DOCS_BASE_PATH: ./spec/fixtures
        BLOG_PATH: ./spec/fixtures/_blog
        OAS_PATH: ./spec/fixtures/api_specs/definitions
        FORCE_COLOR: true
      run: |
        bundle exec rails db:create
        bundle exec rails db:migrate
        bundle exec rake spec
        bundle exec rubocop
      working-directory: ./lib/nexmo_developer
    - name: Run NDP Tests
      env:
        POSTGRES_USERNAME: postgres
        DOCS_BASE_PATH: ${{ github.workspace }}/ndp
        OAS_PATH: ${{ github.workspace }}/ndp/_open_api/api_specs/definitions
        FORCE_COLOR: true
      run: |
        bundle exec rake ci:verify_pages
        bundle exec rake ci:verify_navigation
        bundle exec rake ci:verify_oas_reference
        RAILS_ENV=test bundle exec rake ci:verify_error_urls_resolve
        bundle exec rake ci:check_word_blocklist
        bundle exec rake ci:check_ruby_version
      working-directory: ./lib/nexmo_developer
    - name: Run VDP Tests
      env:
        POSTGRES_USERNAME: postgres
        DOCS_BASE_PATH: ${{ github.workspace }}/vdp
        OAS_PATH: ${{ github.workspace }}/vdp/_open_api/definitions
        FORCE_COLOR: true
      run: |
        bundle exec rake ci:verify_pages
        bundle exec rake ci:verify_navigation
        bundle exec rake ci:verify_oas_reference
        bundle exec rake ci:check_word_blocklist
        bundle exec rake ci:check_ruby_version
      working-directory: ./lib/nexmo_developer
    - name: Run Javascript Tests
      run: |
        yarn test
    - name: Spell checker
      env:
        FORCE_COLOR: true
      run: |
        ./node_modules/.bin/mdspell -r -n -a --en-us '_documentation/en/**/*.md' '_partials/*.md' '_partials/**/*.md' '_modals/**/*.md' '_tutorials/**/*.md'
