name: CI
on:
  push: {}
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      db:
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: nexmo_developer_test
          POSTGRES_HOST_AUTH_METHOD: trust
        image: postgres:11
        ports: ['5432:5432']
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Find yarn cache location
      id: yarn-cache
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - name: JS package cache
      uses: actions/cache@v1
      with:
        path: ${{ steps.yarn-cache.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: Install packages
      run: |
        yarn install --pure-lockfile
    - name: Set up Ruby 2.5.8
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.5.8
    - name: Ruby gem cache
      uses: actions/cache@v1
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - name: Install postgres headers
      run: sudo apt-get -yqq install libpq-dev
    - name: Bundle Install
      env:
        POSTGRES_USERNAME: postgres
      run: |
        gem update --system 3.0.3 -N
        gem install --no-document bundler
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
      working-directory: ./lib/nexmo_developer
    - name: Run Tests
      env:
        POSTGRES_USERNAME: postgres
        DOCS_BASE_PATH: ./spec/fixtures
        OAS_PATH: ./spec/fixtures/api_specs/definitions
        FORCE_COLOR: true
      run: |
        bundle exec rails db:create
        bundle exec rails db:migrate
        #RAILS_ENV=test bundle exec rake assets:precompile
        bundle exec rake spec
        bundle exec rubocop
        bundle exec rake ci:verify_pages
        bundle exec rake ci:verify_navigation
        bundle exec rake ci:verify_oas_reference
        bundle exec rake ci:verify_error_urls_resolve
        bundle exec rake ci:check_word_blocklist
        bundle exec rake ci:check_ruby_version
        ./node_modules/.bin/mdspell -r -n -a --en-us '_documentation/en/**/*.md' '_partials/*.md' '_partials/**/*.md' '_modals/**/*.md' '_tutorials/**.md'
        yarn test
      working-directory: ./lib/nexmo_developer
