<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/partials/head' %>

  <body>
    <%= render partial: 'layouts/partials/header' %>
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/partials/footer' %>
  </body>
</html>
